/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.hn {font-family: 'Hanna';}
.nbs {font-family: 'Nanum Brush Script';}
.ng {font-family: 'Nanum Gothic';}
.ngc {font-family: 'Nanum Gothic Coding';}
.nm {font-family: 'Nanum Myeongjo';}
.nps {font-family: 'Nanum Pen Script';}
.ban{font-family: 'Lobster', cursive;}




@media all and (min-width:421px) {
	body {

	}

	/******************** Header 부분 **************************/
	#myBookHeader {
		background-color: #FFCD28;
		height: 45px;
		width: 100%;
		margin-bottom: 30px;
	}
	#myBookHeaderTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	#btnMyBookClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	
	/******************** myBookBody ******************************/
	#myBookBody{
	background-color: #333231;
	}
	
	/******************** DatePicker 부분 **************************/
	#myBookDatePicker > p{
		margin-left: 350px;
		margin-bottom: 55px;
	}
	
	/********************* Container 부분 ***************************/
	#myBookContainer {
		border:1px solid black;
		width: 80%;
		height: 90%;
		padding: 30px 50px 15px 15px;
		margin: 0 auto;
		margin-top: 55px;
	} 
	#myBookData {
		
		margin-left: 30px;
	}
	
	#myBookDatath > th{
		height: 35px;
	 	border-radius :15px;
	 	text-align:center;
		border:1px solid white;
		background-color : #FFCD28;
		width:  100px;

	}
	
	
	#btnDelete{
		font-weight: bolder;	
		margin: 15px 15px  0px 40px;
	}
	
	.warnigMessage{
		display :inline-block;
	}
	#warningCotent{
		color:red;
		font-size: large;
		font-weight: bolder;		
		
	}
	#pagingBar{
		margin-top: 15px;
		margin-left:45px;
		text-align: left;
	}
	
}
@media all and (max-width:420px) {
	
	#myBookHeaderTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	
	#btnMyBookClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: large;
		cursor: pointer;
		float: right;
		margin-right: 10px;
		
	}
	
	#myBookHeader {
		height: 50px;
		background-color: #FFCD28;
	}	
	
	#myBookHeaderTitle {
		text-align:  center;
	}

	#myBookMobileHeaderTitle{
		display:absolute;
		display:'';
		display: inline-block;
		font-size: x-large;
		margin: 10px 20px 10px 80px;
		}
	
	#myBookDatePicker>p {
		margin: 30px 5px 0 200px;
	}
	#datepicker{
		width:130px;
	}
	.warnigMessage {
		font-size:small;
		display: inline-block;
	}
	#warningCotent {
		color: red;
		font-size: smaller;
		font-weight: bolder;
	}
	.tableData {
		height: 45px;
		border-radius: 15px;
		text-align: center;
		border: 1px solid white;
		background-color: #FFCD28;
	}
	.tableReservationData > td{
		height: 45px;
		font-size: small;
		background-color: red;
		text-align: center;
	}
	
	#btnDelete{
		width:70px;
		font-size: smaller;
		margin:10px;
	}
}