/* 폰트 속성입니다. */




@media all and (min-width:421px) {

	/******************** Header 부분 **************************/
	.div-header{
		background-color: #FFCD28;
		height: 60px;
		width: 100%;
	}
	#myBookHeaderTitle {
		display: inline-block;
		font-size: x-large;
	}
	#btnMyBookClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	
	/******************** DatePicker 부분 **************************/
	#myBookDatePicker{
		margin-top: 30px;
		margin-bottom: 40px;
	
	}
	#myBookDatePicker > p{
		display:inline;
		padding-left:30px;
		margin-left: 200px;
		
	}
	#myBookDatePicker > button{
		width:65px !important;
		height:30px !important;
	}
	
	/********************* Container 부분 ***************************/
	#myBookContainer {
		width: 80%;
		height: 90%;
		padding: 0px 30px 50px 30px;
		margin: 0 auto;
	} 
	#myBookData {
		margin: 0 auto;
	}
	
	#myBookData .table-tr{
		cursor: pointer;
	}
	
	.mybook-data-th-check, .mybook-data-th-long , .mybook-data-th-short{
	 	border-radius :15px;
		background-color : #FFCD28;
		height: 40px;
	}
	.mybook-data-th-long{
		width:150px;
		text-align:center;
		
	} 
	.mybook-data-th-short{
		width: 60px;
	}
	
	
	.table-data{
		font-size:medium;
		text-align:center;
		height: 50px;
	}
	
	.warning-line{
		margin-top: 20px;
	}
	#btnDelete{
		font-weight: bolder;	
		width: 65px;
		background-color: red;
		margin-left: 10px;
	}
	
	#pagingBar{
	
		margin-top: 15px;
		margin-left:45px;
		text-align: center;
	}
	
}
@media all and (max-width:420px) {
	
	#myBookHeaderTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	
	#btnMyBookClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: large;
		cursor: pointer;
		float: right;
		margin-right: 10px;
		
	}
	
	#myBookHeader {
		height: 50px;
		background-color: #FFCD28;
	}	
	
	#myBookHeaderTitle {
		text-align:  center;
	}

	#myBookMobileHeaderTitle{
		display:absolute;
		display:'';
		display: inline-block;
		font-size: x-large;
		margin: 10px 20px 10px 80px;
		}
	
	#myBookDatePicker>p {
		margin: 30px 5px 0 200px;
	}
	#datepicker{
		width:130px;
	}
	.warnigMessage {
		font-size:small;
		display: inline-block;
	}
	#warningCotent {
		color: red;
		font-size: smaller;
		font-weight: bolder;
	}
	.tableData {
		height: 45px;
		border-radius: 15px;
		text-align: center;
		border: 1px solid white;
		background-color: #FFCD28;
	}
	.tableReservationData > td{
		height: 45px;
		font-size: small;
		background-color: red;
		text-align: center;
	}
	
	#btnDelete{
		width:70px;
		font-size: smaller;
		margin:10px;
		display:none;
}
}