/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);



@media all and (min-width:421px) {
	

	/******************** Header 부분 **************************/
	
	.div-header{
		background-color: #FFCD28;
		height: 60px;
		width: 100%;
	}
	#myPageHeaderTitle {
		display: inline-block;
		font-size: 25px;
		margin: 10px 10px 10px 25px;
	}
	#btnMyPageClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	/******************** Container 부분 **************************/
	
	#myPageContainer {
		width: 91%;
		height: 440px;
		padding: 30px 0px 15px 0px;
		margin: 0 auto;
	} 
	
	#myPageContainer>p {
		margin-left:115px;
	}
	
	#myPageContainer #statusMsg {
		height: 15px;
		font-size:13px;
		color: red;
	}
	
	#myDataForm {
		height: 100%;
	}
	
	.form-data-nonchange, .form-data-change {
		text-align:center;
		/* width: 500px; */
		margin-bottom: 20px;
	}
	
	.form-data > button {
		border-radius:5px;
		width: 70px;
		margin-left: 5px;
	}
	
	.form-data-change > input ,.form-data-nonchange > input{
		padding-left: 10px;
		height:30px;
		width: 350px;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	.and-button{
		width:268px !important;
	}
	/************** Footer 부분 *********************/

	#btnChange,#btnCancel{
		margin-top: 20px;
		margin-left: 10px;
		width:90px;
	}
}
@media all and (max-width:420px) {
	
	#myPageBody{
	background-color: #333231;
	
	}
	
	#myPageHeader {
		background-color: #FFCD28;
		height: 45px;
		width: 100%;
		margin-bottom: 30px;
	}
	#myPageHeaderTitle {
		font-family: 'Nanum Pen Script';
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	#btnMyPageClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	
	#myPageContainer {
		width: 97%;
		height: 90%;
		padding: 30px 50px 15px 15px;
		margin: 0 auto;
	} 
	
	#myDataForm {
		margin-left: 10px;
	}
	
	
	.formLabel {
		font-size: xx-large ;
		width: 100px;
		display: inline-block;
		color: black;
	}
	
	.formData {
		display: inline-block;
		margin-bottom: 10px;
	}

		
	.formData > button {
		background-color :#FFCD28;
		border-radius:5px;
		margin-left: 5px;
	}
	
	.formData > input{
		padding: 10px;
		border-radius:5px;
	}
	label{
		font-size: large;
	}
}
