@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
 
/* 큰틀 */
@media all and (min-width:769px){
	body {
		margin: 0px;
		padding:0px;
	}
	
	#mobileMenu, #adv {
		display: none;	
	}
	
	#myBook, #myMarket,#myPage {
		width:  650px;
		height: 590px;
		border: 2px solid #FFCD28;
		background-color: white;
		position: absolute;
		margin-top: 60px;
		display:none;
		z-index: 10;
	}
	

	#mainBody {
		width:100%;
		min-width: 1300px;
		margin: 0px;
		font-family: 'Jeju Gothic', serif;
		position:absolute;
	}
	
	#wrap {
	} 
	
	#back {
		display:none;
		width: 100%;
		height:200%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		
		z-index:3;
	}
	
	
	/*----------------------header-----------------------  */
	
	#header {
	  width: 100%;
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  position:relative;
	  background: #333231;
	  border-bottom: 8px solid #474749;
	  
	  z-index:2; 
	}
	
	#headerLeft {
		width : 28%;
		/* height: 130px; */
		display: inline-block;
		
		/* border: 1px solid green; */
	}
	
	#headerLeftTopMenu {
		
	}
	
	#headerLeftBottomMenu {
		color: #ffffff;
		font-size: small;
		display: inline-block;
		padding: 7px;
	}
	
	#headerMiddle {
		width: 43%;
		/* height: 130px; */
		display: inline-block;
		text-align: center;
		
	/* border: 1px solid yellow; */
	}
	
	#headerMiddle a{
		font-size: 75px;
		font-family: 'Lobster', cursive;
		color: #fd9e04;
		text-align: center;
		
		vertical-align: bottom; 
	}
	
	#headerMiddle img{
		width: 100px;
		height:100px;
	}
	
	#headerRight {
	 	width: 28%;
		display: inline-block;
		position: absolute;
		
		/* border: 1px solid red;  */
	} 
	
	#headerRight #headerTopMenu {
		height: 35px;
		float: right;
		font-size: small;
	
		/*  border: 1px solid yellow;  */
	}
	
	#btnMyPage, #btnBook, #btnMyShop{
		background-image: url(../../img/common/pic1_white.png);
		width:70px;
		height:60px;
		display: table-cell;
		cursor: pointer;
	}
	
	#btnMyPage {
		background-position: -1184px -5608px;
	}
	
	#btnBook{
		background-position: -1183px -5470px;
	}
	
	#btnMyShop {
		background-position: -313px -625px;
	}
	
	
	#btnMyPage:hover, #btnBook:hover, #btnMyShop:hover {
		background-image: url(../../img/common/pic1_yellow.png);
	}

	#smallHeader {
		width: 100%;
		height:40px;
		background: #333231;
		display: none;
		
		box-shadow: 0px 5px 10px #000000;
	}
	
	#leftSmallHeader {
		width:30%;
		height: inherit;	
		float: left;
		padding-left: 20px;
		
		/* border: 1px solid red; */
	}
	
	#leftSmallHeader a {
		font-family: 'Lobster', cursive;
		color: #fd9e04;
		text-align: center;
		font-size: 30px;
		
		vertical-align: top;
	}
	
	#leftSmallHeader img{
		width: 40px;
		height: 40px;	
	}
	
	#rightSmallHeader {
		width: 60%;
		height: inherit;
		float: right;
		
		/* border: 1px solid green; */
	}
	
	#rightSmallHeader ul{
		padding:0px;
	}
	
	#rightSmallHeader div{
		float:right;
		font-size: 15px;
		color: white;
	}
	
	.btn-header-top-left {
		display:table;
		color: rgba(253, 158, 4, 0.7);
		text-shadow: 2px 0 0 #333231, -2px 0 0 #333231, 0 2px 0 #333231, 0 -2px 0 #333231, 1px 1px #333231, -1px -1px 0 #333231, 1px -1px 0 #333231, -1px 1px 0 #333231; 
		font-size: 10px; 
		font-weight: bold;
		
		text-align: center;
		vertical-align: bottom;
	}
	
	.btn-header-top-left:hover {
		color: #ffffff;
	}
	
	
	/* ----------------------container-----------------------   */
	
	
	#container {
		/* width:  940px; */
		width:100%;
		margin:0 auto;
		position:relative;
		background: #f5f5f5;
	}
	
	#mobileNav {
		display:none;
	}
	
	#containerTop {
		height: 50px;
		background: #ffb500;
	}

	#containerTop #keywordOpen{
		display: none;
	}

	#mobileContainerKeyword {
		display:none;
	}
	
	#containerList {
		padding: 15px 0px;
		margin: 0 auto;
	}
	
	.list {
		width: 280px;
		height: 410px;
		background: #ffffff;
		margin: 15px 15px 0px 15px;
		display: inline-block;
		border: 2px solid #e5e5e5;
	}
	
	.list:hover  {
		border: 2px solid #ff0000;
	}
	
	.list img {
		width: 100%;
		height: 330px;
		position: absolute;
	}
	
	.list>.shopPhoto {
		position: relative;
		width: 100%;
		height: 335px;
	}
	
	.list .btnSimpleBook {
		width: 80px;
		height: 40px;
		display: table-cell;
		transform: translateY(290px);
		cursor:pointer;

		background: rgba(255, 181, 0, 0.4);
		text-align: center;
		color: #ffffff;
		font-size: 15px;
		vertical-align: middle;
	}
	
	.shopInfo {
		width: inherit;
		position:absolute;
		color:#666666;
		margin: 10px 0px;
	}

	.shopInfo>.shopTilte {
		font-size:15px;
	}
	
	.shopInfo>.shopIntro {
		padding: 0px 5px;
		font-size:13px;
		overflow: hidden;
	}
	
	.shopInfo>.shopIntroAddr {
		height: 35px;
		line-height: 35px;
		padding: 0px 5px;
		font-size: 12px;
		margin-top: 5px;
		overflow: hidden;
		color: #333231;
		background: #ffffff;

		/* border: 1px solid red; */
	}
	
	.shopInfo>.btnDetail {
		height: 35px;
		line-height: 35px;
		width: 90%;
		padding: 0px 5px;
		font-size: 12px;
		margin: 5px auto 0px auto;
		color: #333231;
		overflow: hidden;
		background: #ffb500;
		cursor: pointer;
		text-align: center;
		border-radius:5px;
		
	}
	
	.shopInfo>.simpleReserv {
		width:280px;
		height: 160px;
		display: none;
		position:absolute;
		background: rgba(0, 0, 0, 0.9);
		transform: translateY(-152px);
		color: #ffffff;
		font-size: 14px;
	}
	
	.shopInfo>.simpleReserv>span {
		float:right;
		font-size: 20px;
		cursor: pointer;
		margin: 5px;
	}
	
	.shopInfo>.simpleReserv>p {
		display:block;
		margin: 2px auto;
		width: 180px;
		clear: right;
	}
	
	.shopInfo>.simpleReserv>textarea {
		display: block;
		margin: 5px auto 8px auto;
	}
	
	.shopInfo>.simpleReserv>button {
		float:right;
		margin-right: 17px;
		padding: 3px;
	}
	

	
/* 	.list img:hover {
		width: 220px;
		height: 80px;
		background: rgba(0,0,0, 0.5);
	} */
	
/* 	.listInfo{
		width: 220px;
		height: 100px;
		margin: 0 auto;
	} */
	
/* 	.listTitle{
		width: 219px;
		border-radius:5px;	
		text-align: center;
		margin: 3px;
	} */
	
	.pictureBackground{
		background: rgba(0, 0, 0, 0.5);
		width: 219px;
		line-height: 80px;
	 	margin-top: -83px; 
	 	text-align: center;
	 	display: none;
	}
	
	.listKeywordContainer {
		width: 220px;
		height: 50px;
		margin: 0 auto;
		/* overflow-y:scroll; */
	}
	
	.deactivatKeyword {
		border-bottom: 1px solid #3e3e27;
		border-right: 1px solid #3e3e27;
		border-radius: 3px;
		background: #b9b9b0;
		margin-left: 5px;
		margin-top: 3px;
		display: inline-block;
		color: #383838;
		font-size: 12px;
		padding: 5px;
		cursor:pointer;
	}
	
	.activatKeyword, .deactivatKeyword:hover {
		border-bottom: 1px solid #3e3e27;
		border-right: 1px solid #3e3e27;
		border-radius: 3px;
		background: #fd9e04;
		margin-left: 5px;
		margin-top: 3px;
		display: inline-block;
		color: #383838;
		font-size: 12px;
		padding: 5px;
		cursor:pointer;
	}
	

	/* ----------------------footer-----------------------   */
	#footer {
		position:relative;
	}
	
	
	/*--------------------- web keyword-----------------------------*/
	#WebContainerKeyword {
		/* width: 70%; */
		height: 50px;
		background:#ffb500;
		display: table;
		margin: 0 auto;
	}
	
	#WebContainerKeyword .selectMenu{
		background: #474749;
	}
	
	#WebContainerKeyword ul,
	#WebContainerKeyword li,
	#WebContainerKeyword span,
	#WebContainerKeyword a {
		 margin: 0;
		 padding: 0;
		 position: relative;
	}
	
	#WebContainerKeyword ul {
		 height: inherit;
		 display:table;
		 list-style: none;
		  margin: 0 auto;
	}
	
	#WebContainerKeyword>#webKeyword>li:first-child span{
		width: 250px;
		height: inherit;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	#WebContainerKeyword > ul > li {
		 height : inherit;
		 display: inline-block;
		 font-size: 17px;
		 float: left;
		 margin: 0;
		 z-index: 1;
	}
	
	#WebContainerKeyword > ul > li:hover:after {
		  content: ''; 
		  display: block;
		  width: 0;
		  height: 0;
		  position: absolute;
		  left: 50%;
		  bottom: 0;
		  margin-left: -10px;
	}
	
	#WebContainerKeyword > ul > li.active > a,
	#WebContainerKeyword > ul > li:hover > a {
		  color: #ffffff;
		  background: #474749;
	}
	
	#WebContainerKeyword .has-sub ul li:hover a {
		background: #ffb500;
	}

	#WebContainerKeyword .has-sub:hover > ul {
	  	display: block;
	}
	
	#WebContainerKeyword .has-sub ul {
		  display: none;
		  position: absolute;
		  width: 200px;
		  top: 100%;
		  left: 0;
	}
	
	#WebContainerKeyword .has-sub a,
	#WebContainerKeyword>#webKeyword>li:first-child a {
		 display: table;
		 height: inherit;
	}
	
	#WebContainerKeyword .has-sub>a span {
	  	 width: 250px;
		 height: inherit;
		 display: table-cell;
		 vertical-align: middle;
		 text-align: center;
		 border-right: 1px solid #565658;
	}
	
	#WebContainerKeyword .has-sub ul li a {
		  background: #474749;
		  border-bottom: 1px dotted #ffb500;
		  font-size: 15px;
		  display: block;
		  padding: 10px 0px;
		  width: 250px;
		  text-align: center;
	}
	
	#WebContainerKeyword .has-sub ul li:last-child a {
		border: 0px;
	}
	
	
	
	
	
	.pushSignupBtn {
		width: 500px;
		height:485px;
		border: 2px solid #ffcd28;
		margin: 160px auto 0px auto;
		position: absolute;
		z-index: 3;
		background: white;
		left: 50%;
		display:none;
	}
}



/* ----------------------------media ------------------------------------- */
@media all and (max-width:768px){
	
	body {
		width: 768px;
		margin: 0px;
		padding:0px;
	}
	
	#back {
		display:none;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		
		z-index:2;
	
	}
	
	#mainBody {
		margin: 0px;
		font-family: 'Jeju Gothic', serif;
		position:absolute;
	}
	
  	#myBook,#myPage{
		margin:200px 10px !important;
		margin-top: 15px;
		position: absolute;
		z-index: 10;
		background-color: white;
		width: 380px;
	} 
	
	/*----------------------------header--------------------------------  */
	#headerLeft, #headerMiddle, #headerRight, #myShopList, #smallHeader {
		display: none;
	}
	
	#mobileMenu{
		height: inherit;
	}
	
	#mobileMenu>#mobileHeaderText {
		height: inherit;
		display:table;
		margin: 0 auto;
	}
	
	#mobileMenu>#mobileHeaderText a{
		height: inherit;
		display:table-cell;
		font-size: 35px;
		font-family: 'Lobster', cursive;
		color: #fd9e04;
		vertical-align: middle;
	}
	
	#header {
		width: 100%;
		height: 70px;
		background: #333231;
	  
	}

	 #mobileMenu #btnMobileLeftMenu {
		display: inline-block;
		background-image: url(../../img/common/pic2_white.png);
		width: 45px;
		height: 45px;
		background-position: -202px -481px;
		position:absolute;
		cursor:pointer;
		
 		margin-top: 12px;
	}
	
	#mobileMenu #btnMobileLeftMenu:hover {
		background-image: url(../../img/common/pic2_yellow.png);
	}
	
/* 	#mobileMenu a{
		display:inline-block;
		font-size: 35px;
		font-family: 'Lobster', cursive;
		color: #fd9e04;
		
		margin-top: 10px;
		margin-left: 145px;
		
	} */
	
	/* -----------------------conatainer------------------------------ */
 	#keywordRegion, #keywordPlace, #keywordPeole, #keywordFood {
		display: none;
	} 
	
	#container, #containerKeyword, #containerList {
		width:100%;
		min-width:0px;
		border:0px;
	}
	
	#adv {
		display:block;
		position: relative;
		width: 100%;
		height: 50px;
		background:#ffb500;
		text-align: center;
	}
	
	#mobileNav {
		display:none;
		width: 70%;
		height:100%;
		position: absolute;
		background: #333231;
		z-index:100
		
	}
	
	#mobileNav ul {
		list-style-type: none;
		padding: 0px;
	}
	
	#mobileNav li {
		height: 30px;
		padding: 15px 0px 0px 10px;
		color: #ffffff;
		cursor: pointer;

	}
	
	#mobileNav li:hover {
		background: rgba(98, 96, 94, 0.8);
	}
	
	#mobileNavTop {
		display:table;
		width: 95%;
		height: 45px;
		margin-top: 3px;
		
		border-bottom: 1px solid yellow;
		margin: 0 auto;
	}
	
	#mobileNavTop a{
		display:table-cell;
		text-decoration: none;
		vertical-align: middle;
		padding-left: 7px;
	}
	
	#mobileNavTop div {
		display:table-cell;
		vertical-align: middle;
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
	}

	#mobileNavTop div:hover {
		color: #fd9e04;
	}
	
	#mobileNavMiddle {
		margin-top: 5px;
	}
	
	#containerTop {
		height:30px;
		background: #474749;
		border: 1px solid #474749;
	}
	
	#containerTop #keywordOpen{
		color: #ffffff;
		margin: 0px;
		float: right;
		margin-top: 6px;
		cursor: pointer;
	}
	
	#btnMobileLogin {
		background-position: -458px -288px;
	}
	
	#btnMobileJoin {
		background-position: -827px -565px;
	}
	
	#btnMoblieLogout {
		background-position: -276px -288px;
	}
	
	#mobileContainerKeyword ul{
		padding: 0px;
		margin: 0px;
		
		color: #ffffff;
	}
	
	#mobileContainerKeyword li {
		display: inline;
		margin: 10px 5px 5px 7px;
	}
	
	#mobileContainerKeyword li input, #mobileContainerKeyword li p{
		margin: 0px;
		list-style-type: none;
		display: inline;
	}
	
	#mobileContainerKeyword li:first-child{
		display: block;
	}
	
	
	#mobileContainerKeyword li:first-child p{
		margin: 5px;
	}
	
	
	#mobileContainerKeyword div{
		display:none;
		border-bottom: 1px solid white;
		padding-bottom: 3px;
	}
	
	#mobileContainerKeyword div:last-child{
		border:0px;
	}
	
	#WebContainerKeyword {
		display:none;
	}

	
	.list {
		height: 160px;
		margin-top:10px;
		
		/* border: 1px solid red;  */
	}
	
	.list .listKeywordContainer, .list hr, .pictureBackground{
		display:none;
	}

	.list .listTitle {
		text-align: center;
	}
	
	.list img {	
		width: 100%;
		height: 160px;
	}
	
	.mobileKeyword {
		display: block !important;
	}
	
	.btn-mobile {
		width: 85px;
		height:60px;
		background-image: url(../../img/common/pic2_white.png);
		
		display:table-cell;
		color: #fd9e04;
		font-weight: bold;
		text-align: center;
		vertical-align: bottom;
		text-shadow: 2px 0 0 #333231, -2px 0 0 #333231, 0 2px 0 #333231, 0 -2px 0 #333231, 1px 1px #333231, -1px -1px 0 #333231, 1px -1px 0 #333231, -1px 1px 0 #333231; /* font border */
   		font-size: 12px;
   		cursor:pointer;
	}
	
	.btn-mobile:hover {
		background-image: url(../../img/common/pic2_white.png);
		color: #292827;
		text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
	}
}

