@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
 
/* 큰틀 */

body {
	margin: 0px;
	font-family: 'Jeju Gothic', serif;
}

#wrap {
} 

/*----------------------header-----------------------  */

#header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#header {
	height: 135px;
	background: #333231;
}

#headerLeft {
	width : 33%;
	/* height: 130px; */
	display: inline-block;
	
	/* border: 1px solid green; */
}

#headerLeftTopMenu {
	/* height: 70px; */
	/* clear:both; */
	
	/* border: 1px solid green; */
}

#headerLeftBottomMenu {
	color: #ffffff;
	font-size: small;
	display: inline-block;
	/* margin-top: 10px;
	clear:both; */
	
	/* border: 1px solid blue; */
}

#headerMiddle {
	width: 33%;
	/* height: 130px; */
	display: inline-block;
	padding-left: 10px;
	
/* 	border: 1px solid yellow; */
}

#headerMiddle a{
	font-size: 75px;
	font-family: 'Lobster', cursive;
	color: #fd9e04;
	text-align: center;
	
	vertical-align: bottom; 
}

#headerMiddle img{
	width: 100px;
	height:100px;
}

#headerRight {
 	width: 32%;
 	/* height: 140px; */
	display: inline-block;
	position: absolute;
	
	
	/* border: 1px solid red; */
} 

#headerTopMenu {
	height: 35px;
	float: right;
	font-size: small;

	/* border: 1px solid yellow; */
}

#btnMyPage, #btnBook, #btnRecommandPlace{
	background-image: url(../../img/common/pictogram_white.png);
	width:60px;
	height:60px;
	display:inline-block;
	cursor: pointer;
}

#btnMyPage {
	background-position: -1187px -5608px;
}

#btnBook{
	background-position: -1187px -5471px;
}

#btnRecommandPlace {
	background-position: -1067px -5680px;
}



#myShopList {
	height: 25px;
	background: #474749;
	height: 30px;
	/* border: 1px solid red; */
}

#myShopList ul{
	font-size: small;
}


/* ----------------------container-----------------------   */
#container {
	/* width:  940px; */
	width:100%;
	height:640px;
	margin:0 auto;
	
	margin-top: 135px;
}

#containerTop {
	height: 125px;
	background: #ffb500;
}
#containerKeyword {
	width: 880px;
	height: 100px;
	margin: 0 auto;
	border-radius: 5px;
	background: #000000;
	color: white;
	border-top: 3px solid #fd9e04;
	
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	
	padding-top: 16px;
}

#containerKeyword>p{
	padding: 10px 10px 0px 10px;
	font-weight: bold;
	background: black;
	color: white;
	position: absolute;
	margin-top: -30px;
	margin-left: 35px;
	border-radius: 5px;
	border-top: 3px solid #fd9e04;
	border-right: 3px solid #fd9e04;
}

#containerKeyword div{
	width: 200px;
	display: inline-block;
	margin-left:12px;
	border-right: double white 3px;
}

#containerKeyword>div>p {
	margin:3px;
}

#containerKeyword div:last-child{
	border:0px;
}

#containerList {
	width: 85%;
	margin-top: 20px;
	/* overflow-y:scroll;  *//* {overflow : visible | hidden | scroll | auto} */
	margin: 10px auto;
	border: 1px solid #b7bbbc;
	border-top: 5px solid #b7bbbc;
	
}

.list {
	width: 250px;
	height:175px;
	margin: 10px 0px 0px 15px;
	display:inline-block;
	padding: 5px 0px 5px 0px;
	box-shadow: 5px 5px 5px #888888;
	
	
}

.list img {
	width: 220px;
	height: 80px;
}

.list img:hover {
	width: 220px;
	height: 80px;
	background: rgba(0,0,0, 0.5);
}

.listInfo{
	width: 220px;
	height: 100px;
	margin: 0 auto;
}

.listTitle{
	width: 219px;
	border-radius:5px;	
	text-align: center;
	margin: 3px;
}

.pictureBackground{
	background: rgba(0, 0, 0, 0.5);
	width: 219px;
	line-height: 80px;
 	margin-top: -83px; 
 	text-align: center;
 	display: none;
}

.listKeywordContainer {
	width: 220px;
	height: 50px;
	margin: 0 auto;
	overflow-y:scroll;
}

.listKeywordItem{
	border-bottom: 1px solid #3e3e27;
	border-right: 1px solid #3e3e27;
	border-radius: 3px;
	background: #fd9e04;
	margin-left: 3px;
	margin-top: 3px;
	display: inline-block;
	
}

/* ----------------------footer-----------------------   */
#footer {
	
}





/*----------------------a 태그 공통속성-----------------------    */

a:link {
	color:white;
    text-decoration: none;
}

a:visited {
	color:white;
    text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

a:active {
	color:white;
    text-decoration: underline;
}



input[type="button"] {
	background: -webkit-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -moz-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -o-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCF52), color-stop(0.25, #FEB901), color-stop(0.5, #f38f07), color-stop(0.75, #f89b1f), to(#ffcf53));
	background: linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
	
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
}

input[type="button"]:hover {
	background: #ffc837;
	border: 1px solid #ffde86;
	border-radius: 3px;
	color: #003a5e;
}


.box-rotate-right{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(225deg);  
	-ms-transform:rotate(225deg);      /* IE 9 */
	-webkit-transform:rotate(225deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	
	display: inline-block;
}

.box-rotate-right:hover{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid #3e3e27; 
	transform:rotate(225deg);  
	-ms-transform:rotate(225deg);      /* IE 9 */
	-webkit-transform:rotate(225deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	
	display: inline-block;
}

.box-rotate-left{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}

.box-rotate-left:hover{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid #3e3e27; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}

.box-rotate-up{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(135deg);  
	-ms-transform:rotate(135deg);      /* IE 9 */
	-webkit-transform:rotate(135deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	
	display: inline-block;
}


/*ul list 가로로 옮기고 아이템과 아이템 사이에 가로줄 하나 넣은 스타일-----*/
.width-ul-style ul{
	list-style-type:none;
	display: inline-block;
	clear:both;
}

.width-ul-style li{
	display:inline;
	border-left: 1px solid #c0c0c0;
	padding: 0px 10px 0px 10px;
}

.width-ul-style ul li:first-child {
	border-left: none;
}
/*----------------------------------------------------*/