 
/* 큰틀 */

body {
	background-image : url("../login/beer.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

#wrap {
	width:  950px;
	height: 730px;
 	padding: 30px;
	background: white;
	margin: 0px auto 0px auto ;
	border-radius:20px;
}

/*----------------------header-----------------------  */

#header {
<<<<<<< HEAD
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#header {
	height: 135px;
	background: #333231;
=======
	height:100px;
	margin:0px 0px 15px 0px;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}

<<<<<<< HEAD
#headerLeft {
	width : 33%;
	/* height: 130px; */
=======

#headerLogo {
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
	display: inline-block;
<<<<<<< HEAD
	
	/* border: 1px solid green; */
=======
	margin:5px;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}

<<<<<<< HEAD
#headerLeftTopMenu {
	/* height: 70px; */
	/* clear:both; */
	
	/* border: 1px solid green; */
}

#headerLeftBottomMenu {
	color: #ffffff;
	font-size: small;
	display: inline-block;
	/* margin-top: 10px;
	clear:both; */
	
	/* border: 1px solid blue; */
}

#headerMiddle {
	width: 33%;
	/* height: 130px; */
	display: inline-block;
	padding-left: 10px;
	
/* 	border: 1px solid yellow; */
}

#headerMiddle a{
	font-size: 75px;
	font-family: 'Lobster', cursive;
	color: #fd9e04;
	text-align: center;
	
	vertical-align: bottom; 
=======
#headerMenu {
 	height: 85px;  
 	width: 670px;
	display: inline-block;
	position: absolute;
	margin:5px;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}

<<<<<<< HEAD
#headerMiddle img{
	width: 100px;
	height:100px;
}

#headerRight {
 	width: 32%;
 	/* height: 140px; */
	display: inline-block;
	position: absolute;
	
	
	/* border: 1px solid red; */
} 

#headerTopMenu {
	height: 35px;
	float: right;
	font-size: small;

	/* border: 1px solid yellow; */
=======
#headerMenuList {
	width: 670px;
	height:37px;
	padding: 3px;
	border-bottom: 2px solid #fd9e04;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}

<<<<<<< HEAD
=======

.menuList {
	background: #fd9e04;
	width: 105px;
	height: 25px;
	padding-top: 15px;
	display: inline-block;
	text-align: center;
	
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.menuList:hover {
	background: #ffc500;
}

#headerButtonList {
	padding: 10px;
	display: inline-block;
	float:right;
	margin-right: -15px;
}
#headerMemberInfo {
	display: inline-block;
	width: 240px;
	height: 20px;
	font-size: 12px;
	text-align: right;
	float:right;
	margin-top: 20px;
}

#myShopListWrap {
	width:275px;
	height:35px;
	display:inline-block;
	background: #fd9e04;
	/* border: 1px solid red; */
}

#myShopList {
	width:235px;
	height:35px;
	
	border-right: 20px solid rgba(254, 192, 90, 0.7);
	border-left: 20px solid rgba(254, 192, 90, 0.7);
	
	overflow: hidden;
}

#myShopList ul{
	list-style-type:none;
	padding-left:0px;
	display: inline-block;
}

#myShopList li{
	display:inline;
	border-left: 1px solid #c0c0c0;
	padding: 0px 10px 0px 10px;
}

#myShopList ul li:first-child {
	border-left: none;
}

#btnToRight {
	display: inline-block;
	position: absolute;
	margin-top: -24px;
	margin-left: 255px;
}
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git

<<<<<<< HEAD
#btnMyPage {
	width:60px;
	height:60px;
	background-image: url(../../img/common/pictogram_white.png);
	background-position: -1187px -5608px;
	display:inline-block;
	
=======
#btnToLeft {
	display: inline-block;
	position: absolute;
	margin-top: -24px;
	margin-left: 7px;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}

<<<<<<< HEAD
#btnBook{
	width:60px;
	height:60px;
	background-image: url(../../img/common/pictogram_white.png);
	background-position: -1187px -5471px;
	display:inline-block;
	
}
=======
/* #btnToRight:hover, #btnToLeft:hover {
	background: #3e3e27;
} */
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git

<<<<<<< HEAD
#btnRecommandPlace {
	width:60px;
	height:60px;
	background-image: url(../../img/common/pictogram_white.png);
	background-position: -1067px -5680px;
	display:inline-block;
	
=======
#btnLogout {
	/* display:none; */
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}



<<<<<<< HEAD
#myShopList {
	height: 25px;
	background: #474749;
	height: 30px;
	/* border: 1px solid red; */
=======
#btnSignUp{
	display:none;
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
}
<<<<<<< HEAD

#myShopList ul{
	font-size: small;
}


=======
>>>>>>> branch 'master' of https://github.com/NaraeH/HopeHoff.git
/* ----------------------container-----------------------   */
#container {
	/* width:  940px; */
	width:100%;
	height:640px;
	margin:0 auto;
	
	margin-top: 135px;
}

#containerTop {
	height: 125px;
	background: #ffb500;
}
#containerKeyword {
	width: 880px;
	height: 100px;
	margin: 0 auto;
	border-radius: 5px;
	background: #000000;
	color: white;
	border-top: 3px solid #fd9e04;
	
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	
	padding-top: 16px;
}

#containerKeyword>p{
	padding: 10px 10px 0px 10px;
	font-weight: bold;
	background: black;
	color: white;
	position: absolute;
	margin-top: -30px;
	margin-left: 35px;
	border-radius: 5px;
	border-top: 3px solid #fd9e04;
	border-right: 3px solid #fd9e04;
}

#containerKeyword div{
	width: 200px;
	display: inline-block;
	margin-left:12px;
	border-right: double white 3px;
}

#containerKeyword>div>p {
	margin:3px;
}

#containerKeyword div:last-child{
	border:0px;
}

#containerList {
	width: 85%;
	margin-top: 20px;
	/* overflow-y:scroll;  *//* {overflow : visible | hidden | scroll | auto} */
	margin: 10px auto;
	border: 1px solid #b7bbbc;
	border-top: 5px solid #b7bbbc;
	
}

.list {
	width: 250px;
	height:175px;
	margin: 10px 0px 0px 15px;
	display:inline-block;
	padding: 5px 0px 5px 0px;
	box-shadow: 5px 5px 5px #888888;
	
	
}

.list img {
	width: 220px;
	height: 80px;
}

.list img:hover {
	width: 220px;
	height: 80px;
	background: rgba(0,0,0, 0.5);
}

.listInfo{
	width: 220px;
	height: 100px;
	margin: 0 auto;
}

.listTitle{
	width: 219px;
	border-radius:5px;	
	text-align: center;
	margin: 3px;
}

.pictureBackground{
	background: rgba(0, 0, 0, 0.5);
	width: 219px;
	line-height: 80px;
 	margin-top: -83px; 
 	text-align: center;
 	display: none;
}

.listKeywordContainer {
	width: 220px;
	height: 50px;
	margin: 0 auto;
	overflow-y:scroll;
}

.listKeywordItem{
	border-bottom: 1px solid #3e3e27;
	border-right: 1px solid #3e3e27;
	border-radius: 3px;
	background: #fd9e04;
	margin-left: 3px;
	margin-top: 3px;
	display: inline-block;
	
}

/* ----------------------footer-----------------------   */
#footer {
	
}





/*----------------------a 태그 공통속성-----------------------    */

a:link {
	color:white;
	font-weight: bold;
    text-decoration: none;
}

a:visited {
	color:white;
	font-weight: bold;
    text-decoration: none;
}

a:hover {
	color:white;
	font-weight: bold;
	text-decoration: none;
    /* text-decoration: underline; */
}

a:active {
	color:white;
	font-weight: bold;
    text-decoration: underline;
}



input[type="button"] {	background: -webkit-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -moz-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -o-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCF52), color-stop(0.25, #FEB901), color-stop(0.5, #f38f07), color-stop(0.75, #f89b1f), to(#ffcf53));
	background: linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
	
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
}

input[type="button"]:hover {
	background: #ffc837;
	border: 1px solid #ffde86;
	border-radius: 3px;
	color: #003a5e;
}


.box-rotate-right{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(225deg);  
	-ms-transform:rotate(225deg);      /* IE 9 */
	-webkit-transform:rotate(225deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	
	display: inline-block;
}

.box-rotate-right:hover{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid #3e3e27; 
	transform:rotate(225deg);  
	-ms-transform:rotate(225deg);      /* IE 9 */
	-webkit-transform:rotate(225deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	
	display: inline-block;
}

.box-rotate-left{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}

.box-rotate-left:hover{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid #3e3e27; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}


/*ul list 가로로 옮기고 아이템과 아이템 사이에 가로줄 하나 넣은 스타일-----*/
.width-ul-style ul{
	list-style-type:none;
	display: inline-block;
	clear:both;
}

.width-ul-style li{
	display:inline;
	border-left: 1px solid #c0c0c0;
	padding: 0px 10px 0px 10px;
}

.width-ul-style ul li:first-child {
	border-left: none;
}
/*----------------------------------------------------*/
