.widthList ul {
		list-style-type: none;
		margin-left: 10px;
		display: inline-block;
		overflow: hidden;
}
.widthList li {
		display: inline-block;
		padding: 0px 10px;
}


/*-----------------------------------화살표 ----------------------------*/
.box-rotate-right {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
	transform: rotate(225deg);
	-ms-transform: rotate(225deg); /* IE 9 */
	-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-right:hover {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #3e3e27;
	transform: rotate(225deg);
	-ms-transform: rotate(225deg); /* IE 9 */
	-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-left {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-left:hover {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #3e3e27;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	cursor: pointer;
}
/*--------------------------------------------------------------------*/