/*-----------------------------------화살표 ----------------------------*/
.box-rotate-right {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(255, 255, 255, 0.6);
	transform: rotate(225deg);
	-ms-transform: rotate(225deg); /* IE 9 */
	-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-right:hover{
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(51, 50, 49, 0.6);
	transform: rotate(225deg);
	-ms-transform: rotate(225deg); /* IE 9 */
	-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-left {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(255, 255, 255, 0.7);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	cursor: pointer;
}

.box-rotate-left:hover{
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(51, 50, 49, 0.7);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	cursor: pointer;
}

/* common.js에서   naraeWidthSilde(), naraeWidthSildeAuto()를 위한 css*/
.myLeftWrap, .myRightWrap  {
	width: 36px;
	position: absolute;
	display: table;
	height: inherit;
	z-index: 1;
	text-align: center;
	cursor: pointer;
}

.myLeftWrap:hover{
	    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255,255,255,0));
	    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255,255,255,0));
	    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255,255,255,0));
	    background: -webkit-gradient(linear, 100% 0, 0 0, from((255, 255, 255, 0.4)), to(rgba(255,255,255,0)));
	    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255,255,255,0));
}
	
.myRightWrap:hover {
		background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
		background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
		background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
		background: -webkit-gradient(linear, 100% 0, 0 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
		background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}

.myLeftWrap div, .myRightWrap div{
	display: table-cell;
	vertical-align: middle;
}

.myLeftWrap:hover .box-rotate-left {
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(51, 50, 49, 0.7);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	cursor: pointer;
}

.myRightWrap:hover .box-rotate-right{
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(51, 50, 49, 0.6);
	transform: rotate(225deg);
	-ms-transform: rotate(225deg); /* IE 9 */
	-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	display: inline-block;
	cursor: pointer;
}

.width-silde-wrap {
	width: 230px;
	height: 235px;
	display : inline-block;
	position: relative;
	overflow: hidden;
	
}

.width-silde-wrap ul {
	height: inherit;
	display: inline-block;
	position:absolute;

	list-style-type: none;
	overflow: hidden;
	margin:0px;
	padding: 0px;
}

.width-silde-wrap li {
	height: inherit;
	padding: 0px;
	margin: 0px;
	display: table-cell;
}

.width-silde-wrap li div {
	height: inherit;
}
.myPhotoList{
	background-repeat: no-repeat;	
}
.myPhotoList .myImgText {
	width: inherit;
	height: inherit;
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	align-items: center;
	color: white;
	font-size: small;
}

/*------ul list 가로로 옮기고 아이템과 아이템 사이에 가로줄 하나 넣은 스타일 => 메인페이지에서 씀-----*/
.width-ul-style ul{
	list-style-type:none;
	display: inline-block;
	clear:both;
}

.width-ul-style li{
	display:inline;
	border-left: 1px solid #c0c0c0;
	padding: 0px 10px 0px 10px;
}

.width-ul-style ul li:first-child {
	border-left: none;
}


/*----------------------a 태그 공통속성----------------------- */

a:link {
	color:white;
    text-decoration: none;
}

a:visited {
	color:white;
    text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

a:active {
	color:white;
    text-decoration: underline;
}



input[type="button"] {
	background: -webkit-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -moz-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -o-linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCF52), color-stop(0.25, #FEB901), color-stop(0.5, #f38f07), color-stop(0.75, #f89b1f), to(#ffcf53));
	background: linear-gradient(#FFCF52, #FEB901, #f38f07, #f89b1f, #ffcf53);
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
	
	border: 1px solid #ffde86;
	padding: 5px 10px 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: bold;
}

input[type="button"]:hover {
	background: #ffc837;
	border: 1px solid #ffde86;
	border-radius: 3px;
	color: #003a5e;
}

/*----------------------------------------------------*/
#footer{
		background-color : #333231;
		color : #fd9e04;
		padding: 25px 0px;
		text-align: center;
		clear : both;
		width: 100%;
}