/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

@media all and (min-width:421px) {
	#detailsBody {
		width: 100%;
		height: 100%;
		/* border: 2px solid #FFCD28; */
	}
	
	/*------------------header-------------------*/
/* 	#detailHeader {
		height: 45px;
		background-color: #FFCD28;
	}
	
	#headerTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	} */   /* 이칭구들은 없애기러했듬...*/
	
	#btnClose{
		background: #333231;
		border: #333231;
		display: inline-block;
		color: white;
		font-size: x-large;
		cursor: pointer;
		margin-left:97%;
		margin-top: 5px;
		/* float: right; */
		
	}
	
	/*-------------------container-------------------*/
	#detailContainer {
		width: 97%;
		height: 87%;
		padding: 15px;
		
		/* border: 1px solid red; */
	}
	
	#pubPhotoListWrap{
		width: 35%;
		height: 340px; /* 100%; */ 
		display: inline-block;
		
/* 		border: 1px dashed red;  */
	}
	
	#pubPhotoList {
		overflow: hidden;
	}
	
 	.widthList ul{
		width: 1211px;
		padding: 0px !important;
		margin: 0px !important;
	}
	
	.widthList li{
		padding: 0px !important;
		margin: 0px !important;
	}
	
	#pubPhotoListWrap img {
		width: 400px;
		height:340px;
	}

/* 	#carousel-example-generic {
		width: 30%;
		height: 230px;
		float: left;
	}
	#carousel-example-generic span {
		margin-top: 111px;
	} */
	
	#rightContainer{                         /* 오른쪽꺼 */
		display: inline-block;
		width: 64%;
		height: 95%;
		float: right;
/* 		border: 1px dashed blue; */
	}
	
	#hoffInfo {
		width: 98%;
		height: 25%;
		margin: 1%;
		display: inline-block;
		font-size: small;
		color: #ffb500;
		/* border: 1px solid #FFCD28; */
	}
	
	#hoffInfo>p {
		display:inline-block;
		margin: 0px;
	}
	#hoffInfo>p:first-child {
		font-size:large;
		font-weight: bold;
	}

/* 	.Info {
		display: inline;
		text-align: left;
	} */
 	#reservBtn {
 		margin-left:10%;
 		width: 80%;
		border : #333231;
		background: orange;
		display: inline-block;
		color: white;
		font-size: large;
		cursor: pointer;

	} 

	/* *************V tabs********** */
	#tabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#tabsContent {
		width:98%;
		height: 90%;
	    margin: 1%;
/* 		border: 3px dotted #FFCD28; */
		display: inline-block;
		
	}
	#contentMenu, #contentMap, #contentComments {
		width: 100%;
		height: 200px;

	}
	#menu, #price {
		color:white;
		font-size: large;
		text-align: center;
		margin-top:18px;
	}
	/* ************V tabsBar************** */
	#tabsBar {
		width: 100%;
		height: 50px;
		/*padding: 5px 10px; */
		margin: 1%;/* 0 auto; */
		clear: both;
	}
	#tabsBarText {
		width: 100%;
		position: relative;
	   /* 	z-index: 2; */
	}
	#tabsBarText>div {
		display: inline-block;
		width: 30%;
		font-size: large;
		margin-left:4px;
	}
	#tabsBarButton {
		position: relative;
		margin-top: -3px;
		z-index: 1;
	}
	#tabsBarButton>div {
		display: inline-block;
		width: 30%;
		height: 15px;
		margin-left:3px;
		border: 1px solid white;
		background-color: white;
	}

	/* *********V menuList************* */
	#menuList {
		width: 707px;
		height: 205px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.leftWrap, .rightWrap {
		width: 8%;
		height: inherit;
		position: relative;
		display: inline-block;
		z-indx : 5px;
		z-index: 3;
		
		/* border: 1px solid red; */
	}
	
	.leftWrap{
		float: left;
		cursor: pointer;
	}
	
	.rightWrap{
		float: right;
		cursor: pointer;
	}
	
	.leftWrap:hover{
	    background: -webkit-linear-gradient(to right, rgba(51, 50, 49, 0.8), rgba(255,255,255,0));
	    background: -moz-linear-gradient(to right, rgba(51, 50, 49, 0.8), rgba(255,255,255,0));
	    background: -o-linear-gradient(to right, rgba(51, 50, 49, 0.8), rgba(255,255,255,0));
	    background: -webkit-gradient(linear, 100% 0, 0 0, from(rgba(51, 50, 49, 0.8)), to(rgba(255,255,255,0)));
	    background: linear-gradient(to right, rgba(51, 50, 49, 0.8), rgba(255,255,255,0));
	}
	
	.rightWrap:hover {
		background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(51, 50, 49, 0.8));
		background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(51, 50, 49, 0.8));
		background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(51, 50, 49, 0.8));
		background: -webkit-gradient(linear, 100% 0, 0 0, from(rgba(255, 255, 255, 0)), to(rgba(51, 50, 49, 0.8)));
		background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(51, 50, 49, 0.8));
	}
	
	#menuToLeft {
		margin-top: 90px;
		margin-left: 5px;
	}

	#menuToRight {
		margin-top: 90px;
		margin-left: 27px;
	}
	
	#menuList ul {
/* 		height: 210px;
		margin-bottom: 0px; */
		
		margin-top: -203px;
		height: 210px;
		list-style-type: none;
		padding: 0px;
		display: inline-block;
		overflow: hidden;
	}
	
	#menuList li {
		display: inline-block;
		padding:0px 10px;
		height:170px;
		width: 170px;
	}
	
	#menuList ul li {
		width:210px;
		height:210px;
		
		/* border: 1px solid red; */
	}
	
	#menuList li img {
		border:1px solid gray;
		width: 140px;
		height: 170px;
	}
	
	#menuList>span {
		border-bottom: 20px solid black;
		margin-top: 85px;
		margin-left: 3px;
		
	}

	#bestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#bestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#bestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#bestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	
	#menuButton , #mapButton, #commentButton {
		cursor:pointer;
	}


}
/* 모바일 전용입니다. */
@media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}

}
