/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

/* @media all and (min-width:421px) { */
	#detailsBody {
		width: 100%;
		height: 100%;
		/* border: 2px solid #FFCD28; */
	}
	
	/*------------------header-------------------*/
	#btnClose{
		background: #333231;
		border: #333231;
		display: inline-block;
		color: white;
		font-size: x-large;
		cursor: pointer;
		margin-left:97%;
		margin-top: 5px;
		/* float: right; */
	}
	
	/*-------------------container-------------------*/
	#detailContainer {
		width: 97%;
		height: 87%;
		padding: 15px;
		
	}
	#leftContainer {
		width:420px;
		display:inline-block;
		float:left;
	}
 
 
 	#pubPhotoListWrap{
		width: 400px;
		height: 340px; 
	}
	
	#rightContainer{                         /* 오른쪽꺼 */
		display: inline-block;
		width: 60%;
		height: 95%;
		float: left;
		padding: 10px 0px 0px 20px;
		
/* 		border: 1px dashed blue; */
	}
	
	#hoffInfo {
		width: 98%;
		height: 25%;
		margin: 1%;
		display: inline-block;
		font-size: small;
		color: #ffb500;
		/* border: 1px solid #FFCD28; */
	}
	
	#hoffInfo>p {
		display:inline-block;
		margin: 0px;
	}
	#hoffInfo>p:first-child {
		font-size:large;
		font-weight: bold;
	}

 	#reservBtn {
		width: 90%;
		background: orange;
		display: inline-block;
		color: white;
		font-size: large;
		cursor: pointer;
		margin: 10px 0px 0px 10px;
		
	} 

	#reservBtn:hover{
		box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
		-webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
		-moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	}
	/* *************V tabs********** */
	#tabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#tabsContent {
		width:98%;
		height: 90%;
	    margin: 1%;
/* 		border: 3px dotted #FFCD28; */
		display: inline-block;
		
	}
	#contentMenu, #contentMap, #contentComments {
		width: 100%;
		height: 200px;

	}
	#menu, #price {
		color:white;
		font-size: large;
		text-align: center;
		margin-top:18px;
	}
	/* ************V tabsBar************** */
	#tabsBar {
		width: 100%;
		height: 50px;
		margin: 1%;/* 0 auto; */
		clear: both;
	}
	#tabsBarText {
		width: 100%;
		position: relative;
	   /* 	z-index: 2; */
	}
	#tabsBarText>div {
		display: inline-block;
		width: 30%;
		font-size: large;
		margin-left:4px;
	}
	#tabsBarButton {
		position: relative;
		margin-top: -3px;
		z-index: 1;
	}
	#tabsBarButton>div {
		display: inline-block;
		width: 30%;
		height: 15px;
		margin-left:3px;
		border: 1px solid white;
		background-color: white;
	}

	/* *********V menuList************* */
	#menuListWrap {
		width: 707px;
		height: 205px;
	}

	#bestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#bestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#bestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#bestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	
	#menuButton , #mapButton, #commentButton {
		cursor:pointer;
	}


/* } */
/* 모바일 전용입니다. */
/* @media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}
} */
