@CHARSET "UTF-8";

body {
	width: 600px;
	height:700px;
	border: 1px solid red;
}
.col-xs-6 .col-md-3{
	border:1px solid red;
	margin: 0px !important;
	padding-top: 15px !important;
}
.row{
	margin: 15px;
	padding-top: 50px;
}

#carousel-example-generic { 
	width:350px; 
	height:250px; 
	border:3px solid red; 
	float:left;
	margin-right: 5px;
}
.Info{
	border:1px solid red;
	display:inline;
	text-align: left;
}

#hoffInfo { 
	padding:3px;
	width:210px; 
	height:250px; 
	border:1px solid blue;
	float:left; 
}
#reservation{
	margin:10px;
	text-align: right;
}

#hoffInfo > h3{
	font-size: 	x-large;
}
#tabs{ 
	
	width:570px; 
	height:300px; 
	border:1px solid black;
	margin-top: 5px;
	clear:both 
}
#tabsContent{
 height: 205px;
 margin :20px 15px;
 border:2px dotted gold;
}

#contentMenu {
	width: 530px;
	height:200px;
	border: 1px solid green;
}

#contentMap {

	border: 5px dotted olive;
}

#contentComments {
	width: 530px;
	height:200px;
	border: 1px solid green;
}
#tabsBar{
 height: 50px;
 width: 530px;
 border:1px solid green;
 padding :7px 10px;
 margin: 0 auto;
}


#tabsBarText > div{
	display:inline-block;
	width:165px;
	font-size: 17px;
	text-shadow: 5px 5px 5px #ffffff;
}

#tabsBarText {
	position: absolute;
	margin-top: 1px;
	z-index: 2;
	
}

#tabsBarButton > div{
	display:inline-block;
	border:2px solid black;
	height:15px;
	background-color: white;
	width: 165px;
}

#tabsBarButton {
	position: absolute;	
	margin-top: 15px;
	z-index: 1;
}

.modal-header {
	background-color: #FFCD28;
}

#menuList {
	/* width: 520px; */
	height: 150px;
	margin: 0 auto;
	overflow :hidden;
	margin-top: 20px;
}
#menuList ul {
	list-style-type:none;
	padding-left: 0px;
	display: inline-block;
	overflow: hidden;
	height: inherit;
}

#menuList li {
	display:inline;
	padding: 0px 10px 0px 10px;
}

#menuList li img {
	width: 150px;
	height: 150px;
}

#btnToLeft{
	position: absolute;
	margin-top: -100px;	
}

#btnToRight{
	
}

/*-------------------------------------V----나래언니가만든함수인듯------*/


.box-rotate-left{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid black; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}

.box-rotate-left:hover{
	width: 0px;
	height:0px;
	border-right:12px solid transparent;
	border-bottom:12px solid #3e3e27; 
	transform:rotate(45deg);  
	-ms-transform:rotate(45deg);      /* IE 9 */
	-webkit-transform:rotate(45deg);  /* Chrome, Safari, Opera */
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	
	display: inline-block;
}
/*--------------------------------------------------------------------*/
#tableForm{
	padding:20px 50px;
	margin: 20px;
 	border:1px solid #ff005b;
 	
}