/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

@media all and (min-width:421px) {
	#detailsBody {
		width: 1180px;
		height: 445px;
		border: 2px solid #FFCD28;
	}
	
	/*------------------header-------------------*/
	#header {
		height: 45px;
		background-color: #FFCD28;
	}
	
	#headerTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	
	#btnClose{
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	/*-------------------container-------------------*/
	#detailContainer {
		width: 97%;
		height: 365px;
		padding: 15px;
		
		/* border: 1px solid red; */
	}
	
	#pubPhotoListWrap{
		width: 35%;
		height:340px;
		display: inline-block;
		margin-top: 12px;
		
		border: 1px solid green; 
	}
	
	#pubPhotoList {
		overflow: hidden;
	}
	
 	.widthList ul{
		width: 1211px;
		padding: 0px !important;
		margin: 0px !important;
	}
	
	.widthList li{
		padding: 0px !important;
		margin: 0px !important;
	}
	
	#pubPhotoListWrap img {
		width: 400px;
		height:340px;
	}

/* 	#carousel-example-generic {
		width: 30%;
		height: 230px;
		float: left;
	}
	#carousel-example-generic span {
		margin-top: 111px;
	} */
	
	#rightContainer{
		display: inline-block;
		width: 64%;
		height: 365px;
		float: right;
		
		/* border: 1px solid blue; */
	}
	
	#hoffInfo {
		width: 95%;
		height: 85px;
		padding: 10px;
		margin: 10px;
		display: inline-block;
		margin-top: 10px;
		font-size: small;
		
		/* border: 1px solid #FFCD28; */
	}
	
	#hoffInfo>p {
		display:inline-block;
		margin: 0px;
	}
	#hoffInfo>p:first-child {
		font-size:large;
		font-weight: bold;
	}

/* 	.Info {
		display: inline;
		text-align: left;
	} */
/* 	#reservation {
		margin: 10px;
		text-align: right;
	} */

	/* *************V tabs********** */
	#tabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#tabsContent {
		height: 90%;
	    margin: 10px;
		border: 3px dotted #FFCD28;
		display: inline-block;
		
	}
	#contentMenu, #contentMap, #contentComments {
		width: 100%;
		height: 200px;

	}
	#menu, #price {
		color:white;
		font-size: large;
		text-align: center;
		margin-top:18px;
	}
	/* ************V tabsBar************** */
	#tabsBar {
		height: 50px;
		width: 530px;
		padding: 5px 10px;
		margin: 0 auto;
		clear: both;
	}
	#tabsBarText {
		position: absolute;
	   /* 	z-index: 2; */
	}
	#tabsBarText>div {
		display: inline-block;
		width: 165px;
		font-size: 16px;
		margin-left:3px;
	}
	#tabsBarButton {
		position: absolute;
		margin-top: 15px;
		z-index: 1;
	}
	#tabsBarButton>div {
		display: inline-block;
		border: 2px solid black;
		height: 15px;
		background-color: white;
		width: 170px;
	}

	/* *********V menuList************* */
	#menuList {
		width: 707px;
		height: 205px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	#menuList ul {
/* 		height: 210px;
		margin-bottom: 0px; */
		
		margin-top: -105px;
		height: 210px;
		list-style-type: none;
		padding: 0px;
		display: inline-block;
		overflow: hidden;
	}
	
	#menuList li {
		display: inline-block;
		padding:0px 10px;
		height:170px;
		width: 170px;
	}
	
	#menuList ul li {
		width:210px;
		height:210px;
		
		/* border: 1px solid red; */
	}
	
	#menuList li img {
		border:1px solid gray;
		width: 140px;
		height: 170px;
	}
	
	#menuList>span {
		border-bottom: 20px solid black;
		margin-top: 85px;
		margin-left: 3px;
		
	}
	#menuList .box-rotate-right {
		margin-left: 650px;
	}
	#bestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#bestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#bestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#bestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	
	#menuButton , #mapButton, #commentButton {
		cursor:pointer;
	}

	
}
/* 모바일 전용입니다. */
@media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}

}
