@CHARSET "UTF-8";

.box {
	width: 190px;
	height: 190px;
	margin: 5px auto 0 auto;
	background-size: cover; 
	overflow: hidden;
	/* border-radius: 5px; */
}

#overlay {
	background: rgba(0, 0, 0, .20); 
	text-align : center;
	height:200px;
	width:200px;
	opacity: 0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	
	/*-- text가운데 정렬 때 쓰는 것-- */
	vertical-align: middle;
	align-items: center;
	display: table-cell;
	/*-- -------------------- */
}

.box:hover #overlay {
	opacity: 1;
}

#plus {
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, .85);
	font-size: 15px;
	
}

#minus {
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, .85);
	font-size: 15px;
}
