/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);


.hn {font-family: 'Hanna';}
.nbs {font-family: 'Nanum Brush Script';}
.ng {font-family: 'Nanum Gothic';}
.ngc {font-family: 'Nanum Gothic Coding';}
.nm {font-family: 'Nanum Myeongjo';}
.nps {font-family: 'Nanum Pen Script';}
.ban{font-family: 'Lobster', cursive;}


/* PC전용입니다. */
@media all and (min-width:421px){ 
	
	/* 전체 배경적용 */
	#wrap{
		background-image : url("../../img/login/hoff.jpg");
		background-size : cover;
		padding: 20px;
		margin:  0px auto;
	}
	
	/* 네모박스에 속성적용 */
	#container {
		background-image : url("../../img/login/beer.jpg");
		background-size : cover;
		width: 950px;
		border: 10px #CD853F outset;
		padding: 35px;
		margin: 20px auto 0px auto ;
		box-shadow: 10px 10px 5px #888888;
	}
	
	/* HopeHoff 오늘의말씀 속성적용 */
	#containerHeader {
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 12px;
		padding: 5px ;
		border: 10px double #C2722E;
		text-align: center;
	}
	
	/* HopeHoff 오늘의말씀 타이틀 속성적용 */
	#containerHeader > h1 {
		font-weight: bolder;
		text-shadow: 5px 5px 5px gray;
		
	}
	
	/* 추천 왼쪽박스 속성적용 */
	#left {
		border-radius:20px;
		width : 300px;
		border : 3px dashed #C2722E;
		margin : 15px;
		float: left;
		display: inline-block;
		margin-left : 60px;
		margin-right : 40px;
		text-align: center;
		font-weight: bolder;
	}
	
	/* 추천 왼쪽박스 타이틀 속성적용 */
	#left > h2 {
		text-align: center;
		margin: 15px;
	}
	
	/* 추천 왼쪽박스 No.1 타이틀 속성적용 */
	/* 폰트를 바꿀려고 하면 html class 속성을 바꿀것! */
	#left > h3 {
		font-size : xx-large;
		font-weight: bolder;
	}
	
	/* 추천 왼쪽박스 동그란 그림틀 속성*/
	#leftImg01 > img {
		margin-left:80px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 속성적용 */
	#left02 {
		border-radius:20px;
		border: 3px dashed #C2722E;
		width : 260px;
		display: inline-block;
		margin: 0px 15px;
	}

	/* 추천 왼쪽박스 헤더 */	
	#myModalLabel{
	background-color: #FFCD28;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 그림 속성적용 */
	#leftImg02 > img {
		margin : 10px auto auto 60px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 네모박스 속성적용 */
	#left03 {
		border-radius:20px;
		border: 3px dashed #C2722E;
		width : 260px;
		display: inline-block;
		clear: both;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 이미지 속성적용 */
	#leftImg03 > img {
		margin : 10px auto auto 60px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 footer 버튼 속성적용 */
	#modal-footer {
	text-align: center;
	}
	
	/* 오른쪽 회원가입창 HopeHoff */
	#rightTop {
	margin: 20px;
	}
	
	/* 오른쪽 회원가입창 Save ID */
	#saveId{
	margin-top : 10px;
	margin-left: 50px;
	}
	
	/* 오른쪽 회원가입창 input inline-block */
	.col-sm-10 {
	display : inline-block;
	}
	
	/* 오른쪽 회원가입창 버튼 */
	#loginBtn {
	margin-top : 5px;
	margin-left : 27px;
	}
	
	/* 오른쪽 회원가입창 속성적용 */
	.loginForm {
	margin-top : 8px;
	display : inline-block;
	text-align: left;
	float: left;
	width: 30px;
	}
	
	/* 오른쪽 회원가입창 패스워드 속성적용*/
	#pwd {
	margin-top: 18px;
	}
	/* 오른쪽 회원가입창 패스워드 input 속성적용*/
	#inputPassword{
	margin-top: 10px;
	}
	
	/* 오른쪽 회원가입창 속성적용 */
	#right {
		border-radius:20px;
		padding: 35px;
		border: 3px dashed #C2722E;
		width: 350px;
		height : 360px;
		display: inline-block;
		clear: both;
		margin: 15px 15px 0px 55px;
	}
	
	/* 오른쪽 회원가입창 가운데 속성정렬 */
	#rightTop{
	text-align: center;
	}
	
	/* 오른쪽 회원가입창 타이틀 헤더 속성적용 */
	#signUpHeaderColor {
		background-color: #FFCD28;
	}
	
	/* 오른쪽 회원가입창 헤더 가운데정렬 속성적용 */
	#myModalLabel {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 아래버튼 */
	#signUpFooter {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 input길이 속성적용*/
	#inputEmail3, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 300px;
	}
	
	/* 오른쪽 회원가입창 틀 속성적용 */
	#sign-up-page01 > .form-group {
	margin-top : 20px;
	margin-left: 117px;
	}
	
	/* PC footer */
	#footer{
		color : white;
		margin-top : 40px;
		padding: 45px;
		text-align: center;
	}
	
	/* 모바일 전용 footer */ 
	#footer01 {
	display: none;
	}
	
	#choose01 {
	margin-top: -10px;
	text-align: center;
	}

	#choose02 {
	text-align: center;
	}
	
	#inlineRadio2 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	#inlineRadio4 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
}


/*===========================================*/


/* 모바일 전용입니다. */
@media all and (max-width:420px){
	
	/* 전체화면 HopeHoff와 ID박스 사이 속성적용 */
	#rightBox{
	margin-top: 20px;
	}
	
	/* 전체화면 SaveID */
	#saveId{
	margin:-15px;
	}
	
	/* 모바일 창 박스 속성적용 */
	#right {
	border: 10px #CD853F outset;
	margin-top : 90px;
	}
	
	/* 전체 배경적용01 */
	html{
	background-color: black;
	}
	
	/* 전체 배경적용02 */
	#wrap{
	background-color: black;
	text-align: center;
	}
	
	/* 전체 input 길이제한 속성적용 */
	#inputEmail3, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 170px;
	}
	
	/* 전체 네모박스 뒷 배경 속성적용 */
	#container {
	background-color: #fd9e04;
	}	
	
	/* 전체 input정렬-1 (아이디 패스워드 글자크기) */
	.loginForm {
	display : inline-block;
	width: 30px;
	}
	/* 전체 input정렬-2 */
	.col-sm-10 {
	display : inline-block;
	}
	/* 전체 input정렬-3 */
	.col-sm-8 {
	display : inline-block;
	}
	/* 전체 input정렬-4 */
	.form-control {
	display : inline-block;
	}
	
	/* Sign-up 팝업창 헤더배경 속성적용 */
	#signUpHeaderColor{
	background-color: #FFCD28;
	}
	
	/* Sign-up 팝업창 헤더와 인풋 속성적용 */
	#sign-up-page01 {
	margin-top: 10px;
	}
	
	/* Sign-up 팝업창 정렬 속성적용 */
	#inputEmail3, #inputPassword3, #phoneNumber, #formGroupInputSmall, #checkPassword{
	margin-right: 60px;
	}
	
	/* Footer 색깔 */
	#footer01 {
	color : white;
	}
	
	/* 기존 PC에 보이던창 모바일에서 가리기 */
	#containerHeader > h1{
	display: none;
	}
	#containerHeader > h2{
	display: none;
	}
	#left {
	display: none;
	}
	#footer{
	display : none;
	}
	

	
	/* Sign-up 팝업창 sign-up back 가운데정렬 */
	#signUpFooter {
	text-align: center;
	}
	


}


