/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);



/* =========== PC전용입니다. =========== */
	
	body{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding-right: 0% !important;
		background-color: #F5F5F5;
	}
	
 	#back {
		
		width: 100%;
		height:200%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		z-index:3;
		display:none;
	} 
	
	#loginBody{
		background-size : cover;   /*  <---------- ?       */
		position:absolute;
		margin: 0px auto;
		width: 100%;
	}
	
	#header {
		margin-top : 50px;
	}
	/* 로그인화면 로고정보 *************/

	#logo {
		width: 30%;
		height: 110px;
		display: table;
		text-align: center;
		margin: auto;
		margin-bottom:30px;
		}
	
	#logo a{
	
		font-size: 60px;
		font-family: 'Lobster', cursive;
		color: #4c4947;
		display: table-cell;
		padding:0px;
		vertical-align:middle;
		
	}
		
	#logo img{
		width:90px;
		display: table-cell;

	}
	
	/* 오른쪽 회원가입창 가운데 속성정렬**********/
	#loginBox {
		text-align: center;
		width: 500px;
		margin: 0 auto;
	}
	
	.form-data > input {
		padding-left: 10px;
		height:30px;
		width: 350px;
		border-radius: 5px;
	}
	
	/* 오른쪽 회원가입창 패스워드 input 속성적용*/
	#uPwd{
		margin-top: 10px;
	}
	
	#saveDiv {
		display: table;
		margin-left: 70px;
		margin-bottom: 20px;
	}
	
 	#saveDiv input[type=checkbox] {
  	  opacity: 0; 
  	  width: 30px;
  	  height: 30px;
  	  cursor: pointer;
	} 
	
	#saveDiv div:first-child {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url('../../img/common/pic1_gray.png') 0px no-repeat;
		background-size: 900%;
		background-position: -207px -413px;
		margin-left: -10px;
		cursor: pointer;
		

		vertical-align: middle;
	}
	#save {
		display: table-cell;
	}

	#saveIdText {
		display: table-cell;
		font-size: medium;	
		vertical-align: middle;
		padding-right: 194px; 
	}

	#signUpText {
		font-size: large;	
		display: table-cell;
		vertical-align: middle;
	}


/* 
	#signUpDiv {

		width: 500px;
		height: 500px;
		border: 1px solid red;
		background:white;
		margin: auto;
	} */
	/*----------------------a 태그 공통속성----------------------- */

	a:link {
		color: #4c4947;
		text-decoration: none;
	}

	a:visited {
		color: #4c4947;
		text-decoration: none;
	}

	a:hover {
		color: #ffcd28;
		cursor: pointer;
	}


   #btnLogin {
		width: 72%;
		font-size: Large;
		margin-bottom: 20px;
	}

	/* PC footer **************/
/* 	#footer{
		background-color : #333231;
		color : #fd9e04;
		padding: 25px;
		text-align: center;
		clear : both;
		width: 100%;
		
	} */
	
	
	.pushSignupBtn {
		width: 500px;
		height:485px;
		border: 2px solid #ffcd28;
		margin: 160px auto 0px auto;
		position: absolute;
		z-index: 3;
		background: white;
		left: 50%;
		display:none;
	}
}



/*===============================================================*/

/* 모바일 전용입니다. */
@media all and (max-width:420px){
	
	
	/* 기존 PC에 보이던창 모바일에서 가리기 */
	#header{
	display: none;
	}
	#containerHeader > h1{
	display: none;
	}
	#containerHeader > h2{
	display: none;
	}
	#left {
	display: none;
	}
	#footer{
	display : none;
	}
	#background {
	display: none;
	}


	/* 전체화면 SaveID */
	#saveId{
	margin:-10px;
	margin-left: -55px;
	}
	
	/* 모바일 창 박스 속성적용 */
	#right {
	border: 10px #CD853F outset;
	margin-top : 90px;
	background-color: #fd9e04;
	}
	
	/* 모바일 ID PWD input길이 */
	#uId, #uPwd {
	width : 170px;
	margin-left: -15px;
	}
	
	/* 모바일 전체 배경적용01 */
	body{
		background-color: black !important;
	}
	/* 모바일 전체 배경적용02 */
	#wrap{
	background-color: black;
	text-align: center;
	}
	
	/* 모바일 전체 네모박스 뒷 배경 속성적용 */
	#container {
	background-color: #fd9e04;
	}	
	
	/* 모바일 전체 input정렬-1 (아이디 패스워드 글자크기) */
	.loginForm {
	display : inline-block;
	width: 47px;
	}

	/* 모바일 Sign-Up 팝업창 input 길이제한 속성적용 */
	#bNumber, #bDay, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 150px;
	}
	
	/* 모바일 Sign-up 팝업창 헤더배경 속성적용 */
	#signUpHeaderColor{
	background-color: #FFCD28;
	}
	
	/* 모바일 Sign-up 팝업창 헤더와 인풋 속성적용 */
	#sign-up-page01 {
	margin-top: 10px;
	}
	
	/* 모바일 Sign-up 팝업창 정렬 속성적용 */
	#bNumber, #bDay, #inputPassword3, #phoneNumber, #formGroupInputSmall, #checkPassword, #formGroupInputLarge{
	margin-right: 53px;
	}
	
	/* 모바일 Sign-up 팝업창 sign-up back 가운데정렬 */
	#signUpFooter {
	text-align: center;
	}
	
	/* 전체 일반/사업자 체크리스트 위아래정렬 */
	#choose01 {
	margin-top: -10px;
	text-align: center;
	}
	
	/* Sign-up 팝업창 일반/사업자 체크리스트 가운데정렬 */
	#choose02 {
	margin : 10px 0px 10px 0px;
	text-align: center;
	}
	
	/* 전체 오른쪽 일반/사업자 사업자 벌리기 */
	#inlineRadio2 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	/* Sign-up 팝업창 오른쪽 회원가입 팝업 창 일반/사업자 사업자 벌리기 */
	#inlineRadio4 {
	margin-left : 30px;
	}
	
	/* 모바일 Footer 색깔 */
	#footer01 {
	text-align : center;
	background-color : black;
	color : white;
	}	
	
	/* 팝업 검사버튼 */
	#idText, #pwdCheckText, #pwdValid {
	color : red;
	font-size : x-small;
	font-weight : bolder;
	/* margin-bottom : -10px; */
	text-align: center;
	}
	
	
	/* 모바일 팝업 유효성 ID검사 */
	#myModal104{
	text-align: center;
	}
	
	/* 모바일 팝업 유효성 ID검사 헤더 색상 */
	#myModal104Header{
	background-color: #FFCD28;
	}
	
	/* 모바일 팝업 유효성 ID검사 버튼 가운데 정렬*/
	#myModal104Footer{
	text-align: center;
	}
	

	#sign-up-page01 {
	text-align: center;
	}
	
	#myModalLabel{
	text-align: center;
	}
	
	#saveId {
	font-size: small;
	}

}
