/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.hn {font-family: 'Hanna';}
.nbs {font-family: 'Nanum Brush Script';}
.ng {font-family: 'Nanum Gothic';}
.ngc {font-family: 'Nanum Gothic Coding';}
.nm {font-family: 'Nanum Myeongjo';}
.nps {font-family: 'Nanum Pen Script';}
.ban{font-family: 'Lobster', cursive;}


/* PC전용입니다. */
@media all and (min-width:421px){ 
	
	body{
	width : 100%;
	height : 100%;
	}
	
	/* 로그인화면 헤더정보 */
	#header {
		height: 135px;
		background: #333231;
		text-align: center;
	}
		
	#headerMiddle {
		width: 100%;
		display: inline-block;
		padding-left: 10px;
	}
	
	#headerMiddle a{
		margin-top : 15px;
		font-size: 75px;
		font-family: 'Lobster', cursive;
		color: #fd9e04;
		display: inline-block;
	}
		
	#headerMiddle img{
		margin-top : -60px;
		width: 100px;
		height:100px;
		display: inline-block;
		margin-left: -50px;
	}
	
	/* 전체 배경적용 */
	#wrap{
	background-size : cover;
		
	}
	
	/* 백그라운드 사진 */
	#background > img {
	position: absolute;
	width: 100%;
	height : 630px;
	opacity:0.8;
	z-index: -1;
	}
	
	/* 헤더~풋터로 묶은것*/
	#loginBox {
	padding : 35px;
	width: 100%;
	z-index: 4;
	}
	
	/* HopeHoff 오늘의말씀 속성적용 */
	#containerHeader {
		margin : 0 auto;
		width : 900px;
		background-color : #fd9e04;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 12px;
		border: 10px double #333231;
		text-align: center;
		margin-bottom: 25px;
	}
	
	/* HopeHoff 오늘의말씀 타이틀 속성적용 */
	#containerHeader > h1 {
		font-weight: bolder;
		text-shadow: 5px 5px 5px gray;
	}
	
	/* 아래 추천 hopeHoff 묵인것 */
	#box{
	width : 760px;
	height : 100%;
	margin: 0 auto;
	z-index: 100;
	}
	
	/* 추천 왼쪽박스 속성적용 */
	#left {
		background-color : #fd9e04;
		border-radius:20px;
		width : 350px;
		height : 360px;
		border : 3px dashed #333231;
		float: left;
		display: inline-block;
		margin-right : 40px;
		text-align: center;
		font-weight: bolder;
	}
	
	/* 추천 왼쪽박스 타이틀 속성적용 */
	#left > h2 {
		text-align: center;
		margin: 15px;
	}
	
	/* 추천 왼쪽박스 No.1 타이틀 속성적용 */
	/* 폰트를 바꿀려고 하면 html class 속성을 바꿀것! */
	#left > h3 {
		font-size : xx-large;
		font-weight: bolder;
	}
	
	/* 추천 왼쪽박스 동그란 그림틀 속성*/
	#leftImg01 > img {
		margin-left:105px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 속성적용 */
	#left02 {
		border-radius:20px;
		border: 3px dashed #C2722E;
		width : 260px;
		display: inline-block;
		margin: 0px 15px;
	}

	/* 추천 왼쪽박스 헤더 */	
	#myModalLabel{
	background-color: #FFCD28;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 그림 속성적용 */
	#leftImg02 > img {
		margin : 10px auto auto 60px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 네모박스 속성적용 */
	#left03 {
		border-radius:20px;
		border: 3px dashed #C2722E;
		width : 260px;
		display: inline-block;
		clear: both;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 팝업 이미지 속성적용 */
	#leftImg03 > img {
		margin : 10px auto auto 60px;
		width:130px;
		height: 130px;
	}
	
	/* 추천 왼쪽박스 다른 추천장소 footer 버튼 속성적용 */
	#modal-footer {
	text-align: center;
	}
	
	
	/* 오른쪽 일반/사업자 체크리스트 위아래정렬 */
	#choose01 {
	margin-top: -10px;
	text-align: center;
	}

	/* 오른쪽 일반/사업자 체크리스트 가운데정렬 */
	#choose02 {
	text-align: center;
	}
	
	/* 오른쪽 일반/사업자 사업자 벌리기 */
	#inlineRadio2 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	/* 오른쪽 회원가입창 팝업 창 일반/사업자 사업자 벌리기 */
	#inlineRadio4 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	/* 오른쪽 회원가입창 HopeHoff */
	#rightTop {
	margin: 20px;
	}
	
	/* 오른쪽 회원가입창 Save ID */
	#saveId{
	margin-top : 10px;
	margin-left: 65px;
	}
	
	/* 오른쪽 회원가입창 input inline-block */
	.col-sm-10 {
	display : inline-block;
	}
	
	/* 오른쪽 회원가입창 버튼 */
	#loginBtn {
	margin-top : 5px;
	margin-left : 46px;
	}
	
	/* 오른쪽 회원가입창 속성적용 */
	.loginForm {
	margin-top : 8px;
	display : inline-block;
	text-align: left;
	float: left;
	width: 45px;
	}
	
	/* 오른쪽 회원가입창 패스워드 속성적용*/
	#pwd {
	margin-top: 18px;
	}
	/* 오른쪽 회원가입창 패스워드 input 속성적용*/
	#inputPassword{
	margin-top: 10px;
	}
	
	/* 오른쪽 회원가입창 속성적용 */
	#right {
		background-color : #fd9e04;
		border-radius:20px;
		padding: 35px;
		border: 3px dashed #333231;
		width: 350px;
		height : 360px;
		display: inline-block;
		clear: both;
	}
	
	/* 오른쪽 회원가입창 가운데 속성정렬 */
	#rightTop{
	text-align: center;
	}
	
	/* 오른쪽 회원가입창 타이틀 헤더 속성적용 */
	#signUpHeaderColor {
		background-color: #FFCD28;
	}
	
	/* 오른쪽 회원가입창 헤더 가운데정렬 속성적용 */
	#myModalLabel {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 아래버튼 */
	#signUpFooter {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 input길이 속성적용*/
	#inputEmail3, #bDay, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 250px;
	}
	
	/* 오른쪽 회원가입창 틀 속성적용 */
	#sign-up-page01 > .form-group {
	margin-top : 20px;
	margin-left: 117px;
	}
	
	/* 오른쪽 회원가입창 정렬 */
	#yesno {
	color : red;
	font-size : medium;
	font-weight : bolder;
	text-align: center;
	}
	
	/* 회원가입창 버튼창 */
	#inNumber00, #inNumber02 {
	margin-left: -20px;
	}
	
	/* PC footer */
	#footer{
		background-color : #333231;
		color : #fd9e04;
		padding: 25px;
		text-align: center;
		clear : both;
		width: 100%;
	}
	

	/* 모바일 전용 footer */ 
	#footer01 {
	display: none;
	}
	
	/* 모바일 팝업 유효성 ID검사 */
	#myModal104{
	text-align: center;
	}
	
	/* 모바일 팝업 유효성 ID검사 헤더 색상 */
	#myModal104Header{
	background-color: #FFCD28;
	}
	
	/* 모바일 팝업 유효성 ID검사 버튼 가운데 정렬*/
	#myModal104Footer{
	text-align: center;
	}
	
	
}


/*===========================================*/




/* 모바일 전용입니다. */
@media all and (max-width:420px){
	
	
	#header{
	display: none;
	}
	
	/* 전체화면 HopeHoff와 ID박스 사이 속성적용 */
	#rightBox{
	margin-top: 20px;

	}
	
	/* 전체화면 SaveID */
	#saveId{
	margin:-10px;
	margin-left: -55px;
	}
	
	/* 모바일 창 박스 속성적용 */
	#right {
	border: 10px #CD853F outset;
	margin-top : 90px;
	background-color: #fd9e04;
	}
	
	/* 모바일 ID PWD input길이 */
	#inputPassword, #inputId {
	width : 170px;
	margin-left: -15px;
	}
	
	/* 모바일 전체 배경적용01 */
	body{
		background-color: black !important;
	}
	/* 모바일 전체 배경적용02 */
	#wrap{
	background-color: black;
	text-align: center;
	}
	
	/* 모바일 전체 네모박스 뒷 배경 속성적용 */
	#container {
	background-color: #fd9e04;
	}	
	
	/* 모바일 전체 input정렬-1 (아이디 패스워드 글자크기) */
	.loginForm {
	display : inline-block;
	width: 47px;
	}
	/* 모바일 전체 input정렬-2 */
	.col-sm-10 {
	display : inline-block;
	}
	/* 모바일 전체 input정렬-3 */
	.col-sm-8 {
	display : inline-block;
	}
	/* 모바일 전체 input정렬-4 */
	.form-control {
	display : inline-block;
	}
	
	/* 모바일 Sign-Up 팝업창 input 길이제한 속성적용 */
	#bNumber, #bDay, #inputEmail3, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 150px;
	}
	
	/* 모바일 Sign-up 팝업창 헤더배경 속성적용 */
	#signUpHeaderColor{
	background-color: #FFCD28;
	}
	
	/* 모바일 Sign-up 팝업창 헤더와 인풋 속성적용 */
	#sign-up-page01 {
	margin-top: 10px;
	}
	
	/* 모바일 Sign-up 팝업창 정렬 속성적용 */
	#bNumber, #bDay, #inputEmail3, #inputPassword3, #phoneNumber, #formGroupInputSmall, #checkPassword{
	margin-right: 53px;
	}
	
	/* 모바일 Sign-up 팝업창 sign-up back 가운데정렬 */
	#signUpFooter {
	text-align: center;
	}
	
	/* 전체 일반/사업자 체크리스트 위아래정렬 */
	#choose01 {
	margin-top: -10px;
	text-align: center;
	}
	
	/* Sign-up 팝업창 일반/사업자 체크리스트 가운데정렬 */
	#choose02 {
	margin : 10px 0px 10px 0px;
	text-align: center;
	}
	
	/* 전체 오른쪽 일반/사업자 사업자 벌리기 */
	#inlineRadio2 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	/* Sign-up 팝업창 오른쪽 회원가입 팝업 창 일반/사업자 사업자 벌리기 */
	#inlineRadio4 {
	margin-left : 30px;
	}
	
	/* 모바일 Footer 색깔 */
	#footer01 {
	text-align : center;
	background-color : black;
	color : white;
	}	
	
	/* 기존 PC에 보이던창 모바일에서 가리기 */
	#containerHeader > h1{
	display: none;
	}
	#containerHeader > h2{
	display: none;
	}
	#left {
	display: none;
	}
	#footer{
	display : none;
	}
	
	#yesno {
	color : red;
	font-size : medium;
	font-weight : bolder;
	margin-bottom : 10px;
	text-align: center;
	}
	
	
		/* 모바일 팝업 유효성 ID검사 */
	#myModal104{
	text-align: center;
	}
	
	/* 모바일 팝업 유효성 ID검사 헤더 색상 */
	#myModal104Header{
	background-color: #FFCD28;
	}
	
	/* 모바일 팝업 유효성 ID검사 버튼 가운데 정렬*/
	#myModal104Footer{
	text-align: center;
	}
	
	/* 사진가리게하기 */
	#background {
	display: none;
	}

	#sign-up-page01 {
	text-align: center;
	}
	
	#myModalLabel{
	text-align: center;}
	
	#saveId {
	font-size: small;
	}
	
	
}


