
	
		<div id="myBookDatePicker">
			<p>
				Date: <input type="date" id="datepicker">
			</p>
			<button id="btnSearch">검색</button>
		</div>

		<hr>

		<div id="myBookDataTable">
			<table id='myBookData'>
				<tr >
					<th class="mybook-data-th-short">#</th>
					<th class="mybook-data-th-long header-shopName">가게 이름</th>
					<th class="mybook-data-th-long">등록일</th>
					<th class="mybook-data-th-long">상태</th>
				</tr>
				
				{{#each reservations}}
				<tr  class="table-tr" id="tableUser{{@index}}" >
					<td id=bookNo{{@index}} class="table-data"  data-reservationNo="{{reservationNo}}"></td>
					<td class="table-data data-change" data-shopName="{{shopName}}">{{shopName}}</td>
					<td class="table-data">{{reservationDate}}</td>
					<td class="table-data">{{reservationStatus}}</td>
				</tr>
				{{/each}}
			</table>

			<hr>

			<div id='pagingBar'>
				<button id='prevBtn' type='button'>&lt</button>
				<span id='pageNo'>{{currPageNo}}</span>
				<button id='nextBtn' type='button'>></button>
			</div>

		</div>

