

<div id="myBookBody">
	<div id="myBookHeader" class="div-header">
		<div id="myBookHeaderTitle" class="font-div-title">내 예약 정보</div>
		<div id="myMarketSelect">
					<form action="#">
						    <select name="speed" id="selectForm">
						      <!-- <option>와라와라(강남)</option> -->
						     {{#each shops}}
						     	<option data-businessNo="{{businessNo}}">{{shopName}}</option>
						     {{/each}}
						    </select>
					<button id="btnMyBookClose" type="button" class="close" value="close">X</button>
					</form>
				</div>
	</div>

	<div id="myBookContainer">
		<div id="myBookDatePicker">
			<p>
				Date: <input type="text" id="datepicker">
			</p>
			<button id="btnSearch">검색</button>
		</div>

		<hr>

		<div id="myBookDataTable">
			<table id='myBookData'>
				<tr class= "type-user">
					<th class="mybook-data-th-short">#</th>
					<th class="mybook-data-th-long header-shopName">가게 이름</th>
					<th class="mybook-data-th-long">등록일</th>
					<th class="mybook-data-th-long">상태</th>
				</tr>
				
				{{#each reservations}}
				<tr class= "type-user" class="table-tr" id="tableUser{{@index}}">
					<td id=test{{@index}} class="table-data">{{reservationNo}}</td>
					<td class="table-data data-change">{{shopName}}</td>
					<td class="table-data">{{reservationDate}}</td>
					<td class="table-data">{{reservationStatus}}</td>
				</tr>
				{{/each}}
			</table>

			<hr>

			<div id='pagingBar'>
				<button id='prevBtn' type='button'>&lt</button>
				<span id='pageNo'>{{currPageNo}}</span>
				<button id='nextBtn' type='button'>></button>
			</div>

		</div>
	</div>
</div>
<script src="../../js/myBook/myBook.js"></script>

