<form action="../../json/commentControl/addComment.do" id="commentForm" data-reservation="{{reservationNo}}" method="post"
enctype="multipart/form-data">
<hr>
	<div id="cFormTitle">
	<h4>내용</h4>
		<textarea id="commentContent" name="content"></textarea>
	</div>
	<div id="cFormFoot">
		<input type="file" id="commentPhoto" name="commentPhoto">
		<button type="submit" id="btnRegister">등록</button>
	</div>
<hr>
</form>
<script>
$('#btnRegister').click(function(){
console.log("aaaaa");
	
//console.log($("#commentContent").html());
console.log($("#commentContent").val());
console.log("bbbbbb");
})
$('#commentForm').ajaxForm({
	data: {
		"reservationNo":$('#commentForm').attr('data-reservation'),
		"content":$("#commentContent").val()
	},
    dataType:'json',
        beforeSubmit: function (data, frm, opt) {
                        alert("등록하시겠습니까?");
                        
                        return true;
                      },
        success: function(responseText, statusText){
          alert("등록완료!");
  		/* $("#back").css("display", "none");
		$("#myBook").css("display", "none"); */
          
            console.log(responseText);
        } ,
        error: function(){
            alert("에러발생!!");
        }        
      });

</script>