	<div id= "detailsBody">

		<div id = "detailHeader">
			<button id="btnClose" type="button" class="close" value="close">X</button>
		</div>

		<div id="detailContainer">
			<div id="leftContainer">
				<div id= "pubPhotoListWrap" class="width-silde-wrap">
					<div class="myLeftWrap">
						<div><span id="photoToLeft" class="box-rotate-left"></span></div>
					</div>
					<div class="myRightWrap">
						<div><span id="photoToRight" class="box-rotate-right"></span></div>
					</div>
	
					<ul>
						<li>
							<div id="pubPhoto1" class="myPhotoList" data-src={{shopPhotos.shopMainPhoto}}>
								<div class="myImgText"> {{shopDetail.shopName}} (1/4) <br> ●○○○ </div>
							</div>
						</li>
						<li>
							<div id="pubPhoto2" class="myPhotoList" data-src={{shopPhotos.shopDetailPhoto1}}>
								<div class="myImgText"> {{shopDetail.shopName}} (2/4) <br> ○●○○ </div>
							</div>
						</li>
						<li>
							<div id="pubPhoto3" class="myPhotoList" data-src={{shopPhotos.shopDetailPhoto2}}>
								<div class="myImgText"> {{shopDetail.shopName}} (3/4) <br> ○○●○ </div>
							</div>
						</li>
						<li>
							<div id="pubPhoto4" class="myPhotoList" data-src={{shopPhotos.shopDetailPhoto3}}>
								<div class="myImgText"> {{shopDetail.shopName}} (4/4) <br> ○○○● </div>
							</div>
						</li>
					</ul>
				</div>
				<hr>
				<div id="reservForm">
					<p class="userInfo"> </p>
					<textarea id='reservData'></textarea>
					<input type="button" id="reservBtn" value="예약"> 	
				</div>
				
				</div>
			
			<div id= "rightContainer">		
			<div id="hoffInfo">
				<p class="pTitle">{{shopDetail.shopName}}</p><br><br>
				<p class="pContent">영업시간 : {{shopDetail.shopTime}}</p><br>
				<p class="pContent">가게주소 : {{shopDetail.shopDetailAddr}}</p><br>
				<p class="pContent">전화번호 : {{shopDetail.shopPhone}}</p><br>
				<p class="pContent">가게소개 : {{shopDetail.shopInfo}} </p> 
			</div>


			<div id="tabs">
				<div id="tabsContent">
					<div id="contentMenu">
						<div id="menuListWrap" class="width-silde-wrap">
							<div class="myLeftWrap">
								<div><span id="menuToLeft" class="box-rotate-left"></span></div>
							</div>
							<div class="myRightWrap">
								<div><span id="menuToRight" class="box-rotate-right"></span></div>
							</div>
									
							<ul>
								{{#each shopMenu}}
								<li>
									<div>
										<img src ="../../img/shopPhoto/menu/{{menuPhoto}}" class="box myPhotoList" style="border-radius:30px;">
 										<div id="overlay">
											<span id="menu">{{menuName}}</span><br>
											<span id="price">{{menuPrice}}</span>
										</div>
									</div>
								</li>
								{{/each}}
									
							</ul>
						</div> <!-- menuList -->
					</div><!-- contentMenu -->
								   
					<div id="contentMap"></div>
							
					<div id="contentComments">
						<table id="dataForm" class="table table-hover"></table>
					</div>
				</div>	<!-- tabsContent -->

 				<div id="tabsBar">
					<div id="tabsBarText">
						<div id='menuText' class="menu">Menu</div>
						<div id='mapText' class="map">Map</div>
						<div id='commentText' class="comment">Comment</div>
					</div>
					<div id="tabsBarButton">
						<div id='menuButton' class="menu"></div>
						<div id='mapButton' class="map"></div>
						<div id='commentButton' class="comment"></div>
					</div>
				</div> 
			</div>	<!-- tabs 꺼야 -->
			</div>
		</div>	<!--body꿑 -->



	</div>	<!-- myModal -->

	<script src='../../js/details/detail-table.js'></script>
