{{#each shops}}
<div class="list" id="shop{{@index}}" data-shop="{{businessNo}}">
	<div class="shopPhoto">
		<img src="/hopeHoff/img/shopPhoto/{{shopMainPhoto}}">
		<div class="btnBook" id="book{{@index}}">예약하기</div>
	</div>
	<div class="shopInfo">
		<span class="shopTilte">[ {{shopName}} ]</span>
		<span class="shopIntro">{{shopIntro}}</span>
		<div class="shopAddr">{{shopAddr}}</div>
		<div class="simpleReserv">
			<span class="btn-close-simpleReserv">X</span>
			<p class="userInfo"></p>
			<p>예약하시겠습니까?</p>
			<textarea rows="3" cols="35" placeholder="예약시간과 인원을 입력해주세요."></textarea>
			<button>예약</button>
		</div>
	</div>
</div>
{{/each}}