{{#each shops}}
<div class="list" id="shop{{@index}}" data-name="{{shopName}}" data-shop="{{businessNo}}" data-phone="{{shopPhone}}">
	<div class="shopPhoto">
		<img src="/hopeHoff/img/shopPhoto/{{shopMainPhoto}}">
		<div class="btnSimpleBook">예약하기</div>
	</div>
	<div class="shopInfo">
		<span class="shopTilte">[ {{shopName}} ]</span>
		<span class="shopIntro">{{shopIntro}}</span>
		<div class="shopIntroAddr">{{shopIntroAddr}}</div>
		<div class="simpleReserv">
			<span class="btn-close-simpleReserv">X</span>
			<p class="userInfo"></p>
			<p>예약하시겠습니까?</p>
			<textarea class="bookContent" rows="3" cols="35" placeholder="예약시간과 인원을 입력해주세요."></textarea>
			<button class="btnBookShop">예약</button>
		</div>
	</div>
</div>
{{/each}}