<div id="myMarketBody">

		<div id="myMarketHeader"  class="div-header">
			<div id="headerTitle" class="font-div-title">내 가게 정보</div>
				<div id="myMarketSelect">
					<form action="#">
						    <select name="speed" id="selectForm">
						      <!-- <option>와라와라(강남)</option> -->
						     {{#each shops}}
						     	<option data-businessNo="{{businessNo}}">{{shopName}}</option>
						     {{/each}}
						    </select>
					<button id="btnMyMarketClose" type="button" class="close" value="close">X</button>
					</form>
				</div>
			
		</div>

		<div id="myMarketContainer">
			<div id="myPubPhotoListWrap" class="width-silde-wrap">
					<div class="myLeftWrap">
						<div><span id="myPhotoToLeft" class="box-rotate-left"></span></div>
					</div>
					<div class="myRightWrap">
						<div><span id="myPhotoToRight" class="box-rotate-right"></span></div>
					</div>

					<ul>
						<li>
							 <img src="../../img/shopPhoto/detail/{{shopPhotos.detailPhoto1}}" id="shopPhoto1" class="myPhotoList">
						</li>
						<li>
							 <img src="../../img/shopPhoto/detail/{{shopPhotos.detailPhoto2}}" id="shopPhoto2" class="myPhotoList">
						</li>
						<li>
							 <img src="../../img/shopPhoto/detail/{{shopPhotos.detailPhoto3}}" id="shopPhoto3" class="myPhotoList">
						</li>
					</ul>
				<!-- menuList -->
			</div>

			<div id="myRightContainer">
				<div id="myHoffInfo">
					<div id=shopName></div>
					<br><br>
					<div>영업시간 : </div>&nbsp;<input type="text" class="myInputBox" id="time"  placeholder="{{shopInfo.shopTime}}"><br><br>
					<div>전화번호 : </div>&nbsp;<input type="text" class="myInputBox" id="phone" placeholder="{{shopInfo.shopPhone}}"><br><br>
					<div>가게주소 : </div>&nbsp;<input type="text" class="myInputBox" id="addr"  placeholder="{{shopInfo.shopDetailAddr}}"><br><br>
					<div>가게소개 : </div>&nbsp;<input type="text" class="myInputBox" id="info"  placeholder="{{shopInfo.shopInfo}}"><br><br>
					<div>짧은소개 : </div>&nbsp;<input type="text" class="myInputBox" id="intro" placeholder="{{shopInfo.shopIntro}}">
					<button id="changeBtn" type="button">수정하기</button><br>
					
				</div>
			</div> <!-- rightContainer -->
			
				<div id="myTabs">
					<div id="myTabsContent">
						<div id="myContentMenu">
							<div id="myMenuListWrap" class="width-silde-wrap">
								<div class="myLeftWrap">
									<div><span id="myMenuToLeft" class="box-rotate-left"></span></div>
								</div>
								<div class="myRightWrap">
									<div><span id="myMenuToRight" class="box-rotate-right"></span></div>
								</div>

								<ul>
									{{#each shopMenu}}
									<li>
									   <img id="menu{{@index}}" class="myPhotoList" src="../../img/shopPhoto/menu/{{menuPhoto}}">
									   <div class="myOverlay">
									   		<div class="photoInfoWrap">
												<input id="menuName{{@index}}" type="text" placeholder="{{menuName}}">
							             		<input id="menuPrice{{@index}}" type="text" placeholder="{{menuPrice}}">
												<button>수정</button>
											</div>
									   </div>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
		
						<div id="myContentComments">
						</div>
					</div>
					<!-- tabsContent -->

					<div id="myTabsBar">
						<div id="myTabsBarText">
							<div id='myMenuText' class="myMenuTabs">Menu</div>
							<div id='myCommentText' class="myCommentTabs">Comment</div>
						</div>
						<div id="myTabsBarButton">
							<div id='myMenuButton' class="myMenuTabs"></div>
							<div id='myCommentButton' class="myCommentTabs"></div>
						</div>
					</div>
				</div>
			
		</div>
		
	</div>
	<script src='../../js/myMarket/myMarket.js'></script>

