
<form id="myDataForm" role="form">
	<div id="myDataFormData">
		<p class="myPage-container-title"> 내 정보를 <span>최신 정보로 관리</span>해주세요 </p>
		<div class="form-data-nonchange">
			<input type="text" class="userId" disabled="disabled" value="{{user.uId}}"> 
			<input type="text" class="userName" disabled="disabled" value="{{user.uName}}">
		</div>

		<div class="form-data-change">
			<input type="password" id="inputNewPwd" placeholder="새로운 비밀 번호"> 
			<div class="validPwdDiv validDiv"></div>
			
			<input type="password" id="inputNewPwdConfirm" placeholder="새로운 비밀 번호 확인"> 
			<div class="validConfirmPwdDiv validDiv"></div>
			<button type="button" id="btnPwdChange" class="change-btn">비밀번호 수정</button>
			
			<input type="text" id="inputNewPhoneNo" class="and-button" placeholder="{{user.uPhone}}">
			<button id='sendBtn' type="button">전&nbsp;송</button>
			<div class="validPhoneNoDiv validDiv"></div>
			
			<input type="text" id="inputNewConfirmPhoneNo"placeholder="인증번호">
			<div class="validConfirmPhoneNoDiv validDiv"></div>
			<button type="button" id="btnPhoneNoChange" class="change-btn">핸드폰번호 수정</button>
		</div>
	</div>
</form>

<script src="../../js/myPage/myPage-change-table.js"></script>

