/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.hn {font-family: 'Hanna';}
.nbs {font-family: 'Nanum Brush Script';}
.ng {font-family: 'Nanum Gothic';}
.ngc {font-family: 'Nanum Gothic Coding';}
.nm {font-family: 'Nanum Myeongjo';}
.nps {font-family: 'Nanum Pen Script';}
.ban{font-family: 'Lobster', cursive;}


	/* 바디 사이즈 딱 맞게 */
	#wrap{
	background-size : cover;
	}


	/* 오른쪽 일반/사업자 체크리스트 가운데정렬 */
	#choose02 {
	text-align: center;
	}


	/* 오른쪽 회원가입창 타이틀 헤더 속성적용 */
	#signUpHeaderColor {
		background-color: #FFCD28;
	}
	
	/* 오른쪽 회원가입창 헤더 가운데정렬 속성적용 */
	#myModalLabel {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 아래버튼 */
	#signUpFooter {
		text-align: center;
	}
	
	/* 오른쪽 회원가입창 input길이 속성적용*/
	#inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 250px;
	}
	
	/* 오른쪽 회원가입창 틀 속성적용 */
	#sign-up-page01 > .form-group {
	margin-top : 20px;
	margin-left: 117px;
	}
		
	/* 팝업 검사버튼 */
	#idText, #pwdCheckText, #pwdValid {
	color : red;
	font-size : x-small;
	font-weight : bolder;
	/* margin-bottom : -10px; */
	text-align: center;
	}

	
}

/*===========================================*/

/* 모바일 전용입니다. */
@media all and (max-width:420px){
	
	
	/* 기존 PC에 보이던창 모바일에서 가리기 */
	#header{
	display: none;
	}
	#containerHeader > h1{
	display: none;
	}
	#containerHeader > h2{
	display: none;
	}
	#left {
	display: none;
	}
	#footer{
	display : none;
	}
	#background {
	display: none;
	}


	/* 전체화면 SaveID */
	#saveId{
	margin:-10px;
	margin-left: -55px;
	}
	
	/* 모바일 창 박스 속성적용 */
	#right {
	border: 10px #CD853F outset;
	margin-top : 90px;
	background-color: #fd9e04;
	}
	
	/* 모바일 ID PWD input길이 */
	#uId, #uPwd {
	width : 170px;
	margin-left: -15px;
	}
	
	/* 모바일 전체 배경적용01 */
	body{
		background-color: black !important;
	}
	/* 모바일 전체 배경적용02 */
	#wrap{
	background-color: black;
	text-align: center;
	}
	
	/* 모바일 전체 네모박스 뒷 배경 속성적용 */
	#container {
	background-color: #fd9e04;
	}	
	
	/* 모바일 전체 input정렬-1 (아이디 패스워드 글자크기) */
	.loginForm {
	display : inline-block;
	width: 47px;
	}

	
	/* 모바일 Sign-Up 팝업창 input 길이제한 속성적용 */
	#bNumber, #bDay, #inputPassword3, #formGroupInputLarge, #phoneNumber, #formGroupInputSmall, #checkPassword, #inNumber01{
	width: 150px;
	}
	
	/* 모바일 Sign-up 팝업창 헤더배경 속성적용 */
	#signUpHeaderColor{
	background-color: #FFCD28;
	}
	
	/* 모바일 Sign-up 팝업창 헤더와 인풋 속성적용 */
	#sign-up-page01 {
	margin-top: 10px;
	}
	
	/* 모바일 Sign-up 팝업창 정렬 속성적용 */
	#bNumber, #bDay, #inputPassword3, #phoneNumber, #formGroupInputSmall, #checkPassword, #formGroupInputLarge{
	margin-right: 53px;
	}
	
	/* 모바일 Sign-up 팝업창 sign-up back 가운데정렬 */
	#signUpFooter {
	text-align: center;
	}
	
	/* 전체 일반/사업자 체크리스트 위아래정렬 */
	#choose01 {
	margin-top: -10px;
	text-align: center;
	}
	
	/* Sign-up 팝업창 일반/사업자 체크리스트 가운데정렬 */
	#choose02 {
	margin : 10px 0px 10px 0px;
	text-align: center;
	}
	
	/* 전체 오른쪽 일반/사업자 사업자 벌리기 */
	#inlineRadio2 {
	margin-top : 15px;
	margin-left : 30px;
	}
	
	/* Sign-up 팝업창 오른쪽 회원가입 팝업 창 일반/사업자 사업자 벌리기 */
	#inlineRadio4 {
	margin-left : 30px;
	}
	
	/* 모바일 Footer 색깔 */
	#footer01 {
	text-align : center;
	background-color : black;
	color : white;
	}	
	
	/* 팝업 검사버튼 */
	#idText, #pwdCheckText, #pwdValid {
	color : red;
	font-size : x-small;
	font-weight : bolder;
	/* margin-bottom : -10px; */
	text-align: center;
	}
	
	
	/* 모바일 팝업 유효성 ID검사 */
	#myModal104{
	text-align: center;
	}
	
	/* 모바일 팝업 유효성 ID검사 헤더 색상 */
	#myModal104Header{
	background-color: #FFCD28;
	}
	
	/* 모바일 팝업 유효성 ID검사 버튼 가운데 정렬*/
	#myModal104Footer{
	text-align: center;
	}
	

	#sign-up-page01 {
	text-align: center;
	}
	
	#myModalLabel{
	text-align: center;
	}
	
	#saveId {
	font-size: small;
	}

}
