@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


	/******************** Header 부분 **************************/
	
	.div-header{
		background-color: #FFCD28;
		height: 60px;
		width: 100%;
		margin-bottom: 15px;
	}
	#signUpHeaderTitle {
		display: inline-block;
		font-size: 25px;

	}
	#btnSignUpClose {
		background: #ffcd28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
   	/******************** Container 부분 **************************/
	
	#signUpContainer {
		width: 91%;
		height: 440px;
		padding: 30px 50px 15px 15px;
		margin: 0 auto;
	} 
	
	#myDataForm {
		height: 100%;
	}

	.form-data {
		text-align:center;
		width: 500px;
/* 		margin-bottom: 19px; */
	}
	
	.form-data > button {
		border-radius:5px;
		width: 70px;
		margin-left: 5px;
	}
	
	.form-data > input {
		padding-left: 10px;
 		height:30px;
		width: 350px; 
		border-radius: 5px;
		margin-bottom: 5px;
	}
	.form-data > input[type="radio"] {
		width: 50px; 
 		height:30px;
		padding-left: 10px;
	 	margin-bottom: 10px;
	}

	
	/*************** 검사 문구**********************/

	#idText, #pwdCheckText, #pwdValid, #nameValid, #phoneNumValid{
	color : red;
	font-size : x-small;
	font-weight : bolder;
	/* margin-bottom : -10px; */
	text-align: center;
	}

	/************** Footer 부분 *********************/

	#btnSignUp,#btnCancel{
		margin-top: 20px;
		margin-left: 10px;
		width:90px;
	}
}

/*======================================================================*/

/* 모바일 전용입니다. */
@media all and (max-width:420px){
	
}
