/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

@media all and (min-width:421px) {

/* 	#myMarketBody {
		width: 65%;
		height: 100%;
		border: 4px solid #FFCD28;
	} */
	
	/*------------------header-------------------*/
	#myMarketHeader {
		height: 45px;
		background-color: #FFCD28;
	}
	
	#headerTitle {
		display: inline-block;
		font-size: x-large;
		font-family: 'Lobster', cursive;
		margin: 10px 10px 10px 25px;
	}
	
	#btnMyMarketClose {
		background: #FFCD28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	/*-------------------container-------------------*/
	#myMarketContainer {
		width: 97%;/**/
		height: 87%;
		padding: 15px;
		background-color: #333231;
	}
	
	#myPubPhotoListWrap {
		/* width: 35%;
		height: 300px; */
		width: 30%;
		height: 340px;
		
		display: inline-block;
		border: 1px dashed red; 
	}
	
	#myPubPhotoList {
		overflow: hidden;
/* 	    width:100%;
		height: 50%; */
	}
	
	#myPubPhotoList>.myLeftWrap, #myPubPhotoList>.myRightWrap {
		height: 338px;
	}
	
	#myPhotoToLeft {
		margin-top: 160px;
		margin-left: 16px;
	}

	#myPhotoToRight {
		margin-top: 160px;
		margin-left: 6px;
	}
	
	#myPubPhotoList ul {
		margin-top: -665px;
	}
	
	.myWidthList ul {
/* 		width: 2000px; */
		width: 1300px;
		list-style-type: none;
		display: inline-block;
		overflow: hidden;
		margin-left:0px;
		padding: 0px;
	}
	.myWidthList li{
		padding: 0px;
		margin: 0px;
	}
	
	#myPubPhotoList .myPhotoList {
		/* width: 250px;
		height: 290px; */
		
		width: 425px;
		height: 340px;
	}

	#myPubPhoto1 {
		background-image: url("../../img/details/Wara-Wara01.jpg");
	}
	
	#myPubPhoto2 {
		background-image: url("../../img/details/Wara-Wara02.jpg");
	}
	
	#myPubPhoto3 {
		background-image: url("../../img/details/Wara-Wara03.jpg");
	}
	
	.myPhotoList .myImgText {
		width: inherit;
		height: inherit;
		
		display: table-cell;
		text-align: center;
		vertical-align: bottom;
		align-items: center;
		color: white;
		font-size: small;
	}
	

/*---------------------------------*/
	#myRightContainer{                         /* 오른쪽꺼 */
		display: inline-block;
		width: 64%;
		height: 95%;
		float: right;
		border: 1px dashed blue;
	}
	
	#myHoffInfo {
		width: 98%;
		height: 50%;
		margin: 1%;
		display: inline-block;
		font-size: small;
		color: #FFCD28;
		border: 1px solid #FFCD28;
	}
	
	#myHoffInfo>div {
		display:inline-block;
		margin: 0px;
	}
	#myHoffInfo>div:first-child {
		font-size:large;
		font-weight: bold;
	}
	#myMarketSelect {
		float: right;
	}

	.myInputBox {
		width: 40%;
	
	}

	/* *************V tabs********** */
	#myTabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#myTabsContent {
		width:98%;
		height: 90%;
	    margin: 1%;
		border: 3px dotted #FFCD28;
		display: inline-block;
		
	}
	#myContentMenu, #myContentComments {
		width: 100%;
		height: 200px;

	}
	.myMenu, .myPrice {
		color:blue;
		font-size: large;
		text-align: center;
		margin-top:18px;
	}
	#overlay>input{
		width:70%;
	}
	/* ************V tabsBar************** */
	#myTabsBar
		width: 100%;
		height: 50px;
		padding: 5px 10px;
		/* margin: 0 auto; */
		clear: both;
	}
	#myTabsBarText {
		width: 100%;
		position: relative;
	   /* 	z-index: 2; */
	}
	#myTabsBarText>div {
		display: inline-block;
		width: 48%;
		font-size: 15px;
		margin-left:4px;
	}
	#myTabsBarButton {
		position: relative;
		margin-top: -3px;
		z-index: 1;
	}
	#myTabsBarButton>div {
		display: inline-block;
		width: 48%;
		height: 15px;
		margin-left:3px;
		border: 1px solid white;
		background-color: white;
	}

	/* *********V menuList************* */
	#myMenuList {
		width: 707px;
		height: 205px;
		margin: 0 auto;
		overflow: hidden;
	}
	#myMenuToLeft {
		margin-top: 90px;
		margin-left: 5px;
	}

	#myMenuToRight {
		margin-top: 90px;
		margin-left: 27px;
	}
	
	#myMenuList ul {
/* 		height: 210px;
		margin-bottom: 0px; */
		
		margin-top: -203px;
		height: 210px;
		list-style-type: none;
		padding: 0px;
		display: inline-block;
		overflow: hidden;
	}
	
	#myMenuList li {
		display: inline-block;
		padding:0px 10px;
		height:170px;
		width: 170px;
	}
	
	#myMenuList ul li {
		width:210px;
		height:210px;
		
		/* border: 1px solid red; */
	}
	
	#myMenuList li img {
		border:1px solid gray;
		width: 140px;
		height: 170px;
	}
	
	#myMenuList>span {
		border-bottom: 20px solid black;
		margin-top: 85px;
		margin-left: 3px;
		
	}

	#myBestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#myBestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#myBestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#myBestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	
	#myMenuButton, #myCommentButton {
		cursor:pointer;
	}


}
/* 모바일 전용입니다. */
@media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}

}

