/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

/* @media all and (min-width:421px) { */

/* 	#myMarketBody {
		width: 65%;
		height: 100%;
		border: 4px solid #FFCD28;
	} */
	
	/*------------------header-------------------*/
	.div-header {
		background-color: #FFCD28;
		height: 60px;
		width: 100%;
	}
	
	#headerTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	
	#myMarketSelect{
		width:75%;
	}
	#selectForm{
		margin-top:15px;
	}
	
	#btnMyMarketClose {
		background: #FFCD28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	/*-------------------container-------------------*/
	#myMarketContainer {
		width: 96%;
		height: 87%;
		padding: 15px;
	}

	#myPubPhotoList .myPhotoList {
		width: 425px;
		height: 340px;
	}
	
#myPubPhoto3 {
		background-image: url("../../img/details/Wara-Wara03.jpg");
	}	

/*---------------------------------*/
	#myRightContainer{                         /* 오른쪽꺼 */
		display: inline-block;
		width: 60%;
		height: 95%;
		float: right;
		border: 1px dashed blue;
	}
	
	#myHoffInfo {
		width: 98%;
		height: 50%;
		margin: 1%;
		display: inline-block;
		font-size: small;
		color: #FFCD28;
		/* border: 1px solid #FFCD28; */
	}
	
	#myHoffInfo>div {
		display:inline-block;
		margin: 0px;
	}
	#myHoffInfo>div:first-child {
		font-size:large;
		font-weight: bold;
	}
	#myMarketSelect {
		float: right;
	}

	.myInputBox {
		width: 80%;
	
	}
    #changeBtn {
    	margin-top: 20px;
    	margin-left: 10px;
    	width:100px;
    	
    }
	/* *************V tabs********** */
	#myTabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#myTabsContent {
		width:98%;
		height: 90%;
	   margin: 1%;
		border: 3px dotted #FFCD28;
		display: inline-block;
		
	}
	#myContentMenu, #myContentComments {
		width: 100%;
		height: 200px;

	}
	.myMenu, .myPrice {
		color:blue;
		font-size: large;
		text-align: center;
		margin-top:18px;
		
	}
	#myOverlay>input{
		width:70%;
	}

	/* ************V tabsBar************** */
	#myTabsBar {
		width: 99%;
		height: 35px;
		padding: 8px 0px;
		 margin: 0 auto;
		clear: both;
		border:1px solid red;
	}
	#myTabsBarText {
		width: 100%;
		position: relative;
	   /* 	z-index: 2; */
	}
	#myTabsBarText>div {
		display: inline-block;
		width: 48%;
		font-size: 15px;
		margin-left:4px;
	}
	#myTabsBarButton {
		position: relative;
		margin-top: -3px;
		z-index: 1;
	}
	#myTabsBarButton>div {
		display: inline-block;
		width: 48%;
		height: 15px;
		margin-left:4px;
		border: 1px solid white;
		background-color: white;
	}

	/* *********menuList************* */
	#myMenuListWrap {
		height: 205px;
		width: inherit;
		margin: 0 auto;
		overflow: hidden;
	}

/* 	#myBestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#myBestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#myBestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#myBestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	#myBestMenu5{
	    background-image: url('../../img/details/odang.jpg');
	} */
	#myMenuButton, #myCommentButton {
		cursor:pointer;
	}

.myOverlay {
	background: rgba(0, 0, 0, .20); 
	text-align : center;
	/* padding: 30px 0 66px 0; */
	width:150px;
	height:140px;
	opacity: 0;
	display:inline-block;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	text-align: center;
}
/*
}
 모바일 전용입니다. */
/* @media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}

}
 */
