/* 폰트 속성입니다. */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@CHARSET "UTF-8";

@media all and (min-width:421px) {

	#detailsBody {
		width: 65%;
		height: 100%;
		border: 4px solid #FFCD28;
	}
	
	/*------------------header-------------------*/
	#detailHeader {
		height: 45px;
		background-color: #FFCD28;
	}
	
	#headerTitle {
		display: inline-block;
		font-size: x-large;
		margin: 10px 10px 10px 25px;
	}
	
	#btnClose{
		background: #FFCD28;
		border: #FFCD28;
		font-size: x-large;
		cursor: pointer;
		float: right;
		margin: 10px;
	}
	
	/*-------------------container-------------------*/
	#detailContainer {
		width: 97%;
		height: 87%;
		padding: 15px;
		background-color: #333231;
	}
	
	#pubPhotoListWrap {
		width: 35%;
		height: 20%;
		
		display: inline-block;
		border: 1px dashed red; 
	}
	
	#pubPhotoList {
		overflow: hidden;
	    width:100%;
		height: 50%;
	}
	
	/*-------------------여기 나중에 고쳐야되-(비교하고 수정하기)------------------*/
	#pubPhotoList>.leftWrap, #pubPhotoList>.rightWrap {
		height: 338px;
		
		/* border: 1px solid red; */
	}
	
	#photoToLeft {
		margin-top: 160px;
		margin-left: 16px;
	}

	#photoToRight {
		margin-top: 160px;
		margin-left: 6px;
	}
	
	#pubPhotoList ul {
		margin-top: -665px;
	}
	
	.widthList ul {
		width: 2000px;
		list-style-type: none;
		display: inline-block;
		overflow: hidden;
		margin-left:0px;
		padding: 0px;
	}
	.widthList li{
		padding: 0px;
		margin: 0px;
	}
	
	#pubPhotoList .photoList {
		width: 537px;
		height: 340px;
	}

	#pubPhoto1 {
		background-image: url("../../img/details/Wara-Wara01.jpg");
	}
	
	#pubPhoto2 {
		background-image: url("../../img/details/Wara-Wara02.jpg");
	}
	
	#pubPhoto3 {
		background-image: url("../../img/details/Wara-Wara03.jpg");
	}
	
	.photoList .imgText {
		width: inherit;
		height: inherit;
		
		display: table-cell;
		text-align: center;
		vertical-align: bottom;
		align-items: center;
		color: white;
		font-size: small;
	}
	

/*---------------------------------*/
	#rightContainer{                         /* 오른쪽꺼 */
		display: inline-block;
		width: 64%;
		height: 95%;
		float: right;
		border: 1px dashed blue;
	}
	
	#hoffInfo {
		width: 98%;
		height: 50%;
		margin: 1%;
		display: inline-block;
		font-size: small;
		color: #FFCD28;
		border: 1px solid #FFCD28;
	}
	
	#hoffInfo>div {
		display:inline-block;
		margin: 0px;
	}
	#hoffInfo>div:first-child {
		font-size:large;
		font-weight: bold;
	}
	#myMarketSelect {
		float: right;
	}

	.inputBox {
		width: 40%;
	
	}
/* 	.Info {
		display: inline;
		text-align: left;
	} */
/* 	#reservation {
		margin: 10px;
		text-align: right;
	} */

	/* *************V tabs********** */
	#tabs {
		width: 100%;
		height: 230px;
		display: inline-block;
	}
	#tabsContent {
		width:98%;
		height: 90%;
	    margin: 1%;
		border: 3px dotted #FFCD28;
		display: inline-block;
		
	}
	#contentMenu, #contentComments {
		width: 100%;
		height: 200px;

	}
	#menu, #price {
		color:white;
		font-size: large;
		text-align: center;
		margin-top:18px;
	}
	/* ************V tabsBar************** */
	#tabsBar {
		width: 100%;
		height: 50px;
		padding: 5px 10px;
		/* margin: 0 auto; */
		clear: both;
	}
	#tabsBarText {
		width: 100%;
		position: relative;
	   /* 	z-index: 2; */
	}
	#tabsBarText>div {
		display: inline-block;
		width: 48%;
		font-size: 15px;
		margin-left:4px;
	}
	#tabsBarButton {
		position: relative;
		margin-top: -3px;
		z-index: 1;
	}
	#tabsBarButton>div {
		display: inline-block;
		width: 48%;
		height: 15px;
		margin-left:3px;
		border: 1px solid white;
		background-color: white;
	}

	/* *********V menuList************* */
	#menuList {
		width: 707px;
		height: 205px;
		margin: 0 auto;
		overflow: hidden;
	}
	#menuToLeft {
		margin-top: 90px;
		margin-left: 5px;
	}

	#menuToRight {
		margin-top: 90px;
		margin-left: 27px;
	}
	
	#menuList ul {
/* 		height: 210px;
		margin-bottom: 0px; */
		
		margin-top: -203px;
		height: 210px;
		list-style-type: none;
		padding: 0px;
		display: inline-block;
		overflow: hidden;
	}
	
	#menuList li {
		display: inline-block;
		padding:0px 10px;
		height:170px;
		width: 170px;
	}
	
	#menuList ul li {
		width:210px;
		height:210px;
		
		/* border: 1px solid red; */
	}
	
	#menuList li img {
		border:1px solid gray;
		width: 140px;
		height: 170px;
	}
	
	#menuList>span {
		border-bottom: 20px solid black;
		margin-top: 85px;
		margin-left: 3px;
		
	}

	#bestMenu1{
	    background-image: url('../../img/details/chiken.jpg');
	}
	#bestMenu2{
	    background-image: url('../../img/details/cheese.jpg');
	}
	#bestMenu3{
	    background-image: url('../../img/details/pizza.jpg');
	}
	#bestMenu4{
	    background-image: url('../../img/details/odang.jpg');
	}
	
	#menuButton, #commentButton {
		cursor:pointer;
	}


}
/* 모바일 전용입니다. */
@media all and (max-width:420px){
	.modal-header {
		background-color: #FFCD28;
	}
	
	#carousel-example-generic {
		width: 270px;
		height: 150px;
		float: left;

	}

}

